/* -----------------------------------------
   BUTTONS
   /source/scss/cagov/button.scss
----------------------------------------- */

/* 
    NOTE: This might make more sence later to be moved to the color schemes
*/

// better-button = color; background; border, hover-color; hover-background; hover-border
.btn-primary {
  @include better-button(
    var(--white, #fff),
    var(--color-p2, #046b99),
    var(--color-p2, #046b99),
    var(--white, #fff),
    var(--color-p2-darker, #214a68),
    var(--color-p2-darker, #214a68)
  );

  &:disabled {
    color: var(--white, #fff) !important;
  }

  &.disabled {
    color: var(--white, #fff) !important;
  }
}

// better-button = color; background; border, hover-color; hover-background; hover-border
.btn-outline-primary {
  @include better-button(
    var(--color-p2, #046b99),
    var(--white, #fff),
    var(--color-p2, #046b99),
    var(--color-p2-darker, #214a68),
    var(--white, #fff),
    var(--color-p2-darker, #214a68)
  );
}

.btn-default {
  @include better-button(
    var(--gray-700, #5e5e6a),
    rgba(255, 255, 255, 0.65),
    var(--gray-700, #5e5e6a),
    var(--black, #000),
    rgba(255, 255, 255, 1),
    var(--black, #000)
  );
}

// beta 5.0 addition
.btn-standout {
  @include better-button(
    var(--white, #fff),
    var(--color-p3, #323a45),
    var(--color-p3, #323a45),
    var(--white, #fff),
    var(--color-p3-darker, #242830),
    var(--color-p3-darker, #242830)
  );

  &:disabled,
  &.disabled {
    color: var(--white, #fff) !important;
  }
}

// better-button = color; background; border, hover-color; hover-background; hover-border
.btn-outline-standout {
  @include better-button(
    var(--color-p3, #323a45),
    var(--white, #fff),
    var(--color-p3, #323a45),
    var(--color-p3-darker, #242830),
    var(--white, #fff),
    var(--color-p3-darker, #242830)
  );
}

// beta 5.0 addition
.btn-highlight {
  @include better-button(
    var(--black, #000),
    var(--color-p1-light, #f2c45a),
    var(--color-p1-light, #f2c45a),
    var(--gray-900, #3b3a48),
    var(--color-p1-lighter, #f5ce73),
    var(--color-p1-lighter, #f5ce73)
  );
}

// better-button = color; background; border, hover-color; hover-background; hover-border
.btn-outline-highlight {
  @include better-button(
    var(--black, #000),
    transparent,
    var(--color-p1-light, #f2c45a),
    var(--gray-900, #3b3a48),
    var(--gray-50, #fafafa),
    var(--color-p1-lighter, #f5ce73)
  );
}

.btn-secondary {
  @include better-button(
    var(--gray-700, #5e5e6a),
    var(--gray-50, #fafafa),
    var(--gray-700, #5e5e6a),
    $link-hover-color,
    #fff,
    var(--black, #000)
  );

  border-width: 1px;

  &.active {
    background: #fff;
    color: var(--black, #000);
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: var(--black, #000);
  }
}

// better-button = color; background; border, hover-color; hover-background; hover-border
.btn-s1 {
  @include better-button(
    var(--gray-700, #5e5e6a),
    var(--color-s1, #eef8fb),
    var(--gray-700, #5e5e6a),
    var(--black, #000),
    #fff,
    var(--black, #000000)
  );

  &.active {
    background: #fff;
  }

  &.active,
  &:disabled {
    color: var(--black, #000);
  }
}

// better-button = color; background; border, hover-color; hover-background; hover-border
.btn-outline-secondary {
  @include better-button(
    var(--gray-700, #5e5e6a),
    var(--white, #fff),
    var(--gray-700, #5e5e6a),
    var(--gray-900, #3b3a48),
    var(--white, #fff),
    var(--gray-900, #3b3a48)
  );
}

// light buttons
.btn-light {
  @include better-button(
    var(--gray-700, #5e5e6a),
    var(--white, #fff),
    var(--white, #fff),
    var(--black, #000),
    var(--gray-100, #f3f3f4),
    var(--gray-100, #f3f3f4)
  );
}

.btn-outline-light {
  @include better-button(
    var(--white, #fff),
    transparent,
    var(--white, #fff),
    var(--gray-100, #f3f3f4),
    transparent,
    var(--gray-100, #f3f3f4)
  );
}

// Default look and feel for more buttons
// --------------------------------------------------

.btn-more {
  @include btn;
  @include btn-block;

  background-color: #fff; // Fallback

  @include rgba(#ffffff, 0.7);

  // background-color: $rgba;
  @include font-size(1.25);

  .more-title {
    display: block;
  }

  .more-icon {
    @include font-size(1.5);
  }
}

.btn-more:focus {
  outline: #2ea3f2 solid 2px;
}

.btn-more.inverse {
  background-color: #000; // Fallback
  // .rgba (#000, .64);
  // background-color: $rgba;
  color: #fff;

  &:hover,
  &:focus {
    color: var(--color-p1, #fdb81e);
  }
}

// Justified mobile button groups in Site Settings
// --------------------------------------------------

@media (max-width: $screen-xs-max) {
  [role="group"].btn-group {
    margin-top: 10px;

    @include btn-group-justified;
  }
}

// Button Blocks for Mobile
// --------------------------------------------------

@media (max-width: $screen-xs-max) {
  .btn-block-xs {
    display: block !important;
    width: 100% !important;

    @include m-b;
  }
}

@media (max-width: $screen-sm-max) {
  .btn-block-sm {
    display: block !important;
    width: 100% !important;

    @include m-b;
  }
}

// Rows of buttons can benefit from a gutter
// Mobile can benefit from additional leading
// --------------------------------------------------

.btn-row {
  .btn {
    @include m-r-sm;
    @include m-b-sm;

    @media (max-width: $screen-xs-max) {
      @include m-b-sm;
    }
  }
}

// Backward compatibility (bootstrap 3 leftovers)
.btn-xs {
  padding: 0.17rem 0.35rem;
  font-size: 0.85rem;
}

// Hover effects

/* btn-hover */
.btn-hover {
  transition: color 300ms;
  position: relative;
  transform: translateZ(0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: scaleX(0);
    transform-origin: 50%;
    transition: transform 300ms ease-out;
  }

  &:hover::before {
    transform: scaleX(1);
  }
}

// btn-light
.btn-light.btn-hover:hover {
  background-color: var(--white, #fff);
  overflow: hidden;
}

.btn-light.btn-hover::before {
  background: var(--gray-50, #fafafa);
  overflow: hidden;
}

.btn-light.btn-hover:hover::before {
  overflow: hidden;
}

// btn-default
.btn-default.btn-hover:hover {
  background-color: var(--white, #fff);
  overflow: hidden;
}

.btn-default.btn-hover::before {
  background: var(--gray-50, #fafafa);
  overflow: hidden;
}

// btn-primary
.btn-primary.btn-hover:hover {
  background-color: var(--color-p2, #046b99);
  overflow: hidden;
}

.btn-primary.btn-hover::before {
  background: var(--color-p2-darker, #214a68);
  overflow: hidden;
}

// btn-highlight
.btn-highlight.btn-hover:hover {
  background-color: var(--color-p1, #fdb81e);
  overflow: hidden;
}

.btn-highlight.btn-hover::before {
  background: var(--color-p1-light, #f2c45a);
  overflow: hidden;
}

// btn-standout
.btn-standout.btn-hover:hover {
  background-color: var(--color-p3, #323a45);
  overflow: hidden;
}

.btn-standout.btn-hover::before {
  background: var(--color-p3-light, #525760);
  overflow: hidden;
}

// btn-secondary
.btn-secondary.btn-hover:hover {
  background-color: var(--gray-50, #fafafa);
  overflow: hidden;
}

.btn-secondary.btn-hover::before {
  background: var(--white, #fff);
  overflow: hidden;
}

// OUTLINE BUTTONS HOVER
// outline-primary
.btn-outline-primary.btn-hover:hover {
  background: inherit;
  overflow: hidden;
}

.btn-outline-primary.btn-hover::before {
  background: var(--gray-50, #fafafa);
  overflow: hidden;
}

// outline-standout
.btn-outline-standout.btn-hover:hover {
  background: inherit;
  overflow: hidden;
}

.btn-outline-standout.btn-hover::before {
  background: var(--gray-50, #fafafa);
  overflow: hidden;
}

// outline-secondary
.btn-outline-secondary.btn-hover:hover {
  background: inherit;
  overflow: hidden;
}

.btn-outline-secondary.btn-hover::before {
  background: var(--gray-50, #fafafa);
  overflow: hidden;
}

// outline-highlight
.btn-outline-highlight.btn-hover:hover {
  background: inherit;
  overflow: hidden;
}

.btn-outline-highlight.btn-hover::before {
  background: rgb(0 0 0 / 20%);
  overflow: hidden;
}

// outline-light
.btn-outline-light.btn-hover:hover {
  background: inherit;
  overflow: hidden;
}

.btn-outline-light.btn-hover::before {
  background: rgb(0 0 0 / 20%);
  overflow: hidden;
}

/* btn-next, prev */
.btn-next span,
.btn-prev span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-next span::after {
  content: "\39";
  font-family: CaGov;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

.btn-next:hover span {
  padding-right: 25px;

  &::after {
    opacity: 1;
    right: 0;
  }
}

.btn-prev span::before {
  content: "\38";
  font-family: CaGov;
  position: absolute;
  opacity: 0;
  top: 0;
  left: -10px;
  transition: 0.5s;
}

.btn-prev:hover span {
  padding-left: 25px;

  &::before {
    opacity: 1;
    left: 0;
  }
}

.btn-block {
  white-space: normal;
}
