/* -----------------------------------------
   KEYWORDS - /source/scss/cagov/keywords.scss
----------------------------------------- */

.keywords {
  ul,
  ol {
    @include list-unstyled;
    @include list-inline;

    li {
      @include label;
      @include label-variant(#ccc);

      color: var(--gray-900, #3b3a48);
      margin-left: 5px;
      margin-right: 5px;
    }

    a {
      color: var(--gray-900, #3b3a48);
    }
  }
}
