/* -----------------------------------------
   MEDIA IN MAIN NAVIGATION
   /source/scss/cagov/nav-media.scss
----------------------------------------- */

// NAVIGATION MEDIA
// Any generic media shown in the mega menu other than primary navigation.
// --------------------------------------------------

.nav-media {
  background-position: 50% 50% !important; // set the photo to the center
  background-size: cover !important; // Allows background fill the available space

  // Bootstrap media objects
  .media {
    padding: 15px;
    margin: 0;
  }

  .title {
    font-size: 1.2rem;
  }

  .subtitle {
    font-weight: bold;
  }
}

.with-image-right,
.with-image-left {
  position: absolute;
  top: 0;
  bottom: 0;

  .nav-media {
    background-repeat: no-repeat;
    background-position: 50% 50% !important;
    background-size: cover !important;
    position: absolute;
    inset: 0;

    @media (max-width: $screen-xs-max) {
      background-image: none !important;
    }
  }
}

.with-image-right {
  right: 0;
}

.with-image-left {
  left: 0;
}
