/* -----------------------------------------
   GOOGLE CSE RESULTS
   /source/scss/cagov/search-google-cse.scss
----------------------------------------- */

.google_results {
  @include list-unstyled;
}

.google_result {
  margin-bottom: calc(var(--line-height-computed) / 2);
}

.google_url {
  @include text-muted;
}

.google_result_thumbnail {
  height: 68px;
  width: 89px;
  float: left;
  margin-right: calc($grid-gutter-width / 2);
}

.gs-result {
  a.gs-title,
  a.gs-title b {
    color: var(--color-p2, #046b99) !important;
  }

  .gsc-url-top {
    .gs-visibleUrl-breadcrumb span {
      color: var(--gray-600, #72717c) !important;
    }
  }

  .gs-snippet {
    color: var(--gray-900, #3b3a48) !important;
  }
}

.gsc-cursor-box {
  .gsc-cursor {
    .gsc-cursor-page {
      color: var(--color-p3, #323a45) !important;
    }

    .gsc-cursor-current-page {
      color: var(--color-p3, #323a45) !important;
    }
  }
}

.gcsc-find-more-on-google {
  color: var(--color-p2, #046b99) !important;
}
