/* -----------------------------------------
   STEP LIST - /src/scss/cagov/step-list.scss
----------------------------------------- */

.cagov-step-list {
  padding-left: 0 !important;
  margin-left: 1.5rem !important;
  counter-reset: step-list-count;

  > li {
    list-style: none;
    border-left: 5px solid;
    font-size: 1.75rem;
    font-weight: $font-weight-7;
    position: relative;
    padding-left: 45px;
    line-height: $font-lineheight-3;
    margin-bottom: 0;

    // The circle bullet
    &::before {
      font-size: 1.625rem;
      font-weight: 700;
      border: 5px solid;
      background-color: #fff;
      border-radius: 50%;
      text-align: center;
      position: absolute;
      left: -27px;
      top: -3px;
      counter-increment: step-list-count;
      content: counter(step-list-count);
      width: 50px;
    }

    // Don't draw the last verticle line
    &:last-child {
      border-left: none;

      // Indent to compensate for the border
      &::before {
        margin-left: 5px;
      }
    }

    span.has-black-color,
    .cagov-step-list-content {
      margin-top: 1rem;
      padding-bottom: 1.75rem;
      font-size: calc($font-size-regular + $ratio);
      font-weight: $font-weight-4;
      display: block;
    }
  }
}
