/* -----------------------------------------
   TABLES - /source/scss/cagov/tables.scss
----------------------------------------- */

/* Adding the explicit classes below so that they are available in Rich Text Editor */

table.table {
  border-spacing: 0;
}

.table {
  color: var(--gray-900, #3b3a48);

  // The official table style design for CA.gov
  &.table-default {
    border: none;

    // Table Body
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          background: #f3f3f4;
          border: 2px solid #fff;
        }
      }
    }

    // Table Head
    > thead > tr {
      > th,
      > td {
        background: #d9d9d9;
        border: 2px solid #fff;
      }
    }
  }
}

.table-striped > tbody > tr:nth-of-type(2n + 1) > * {
  color: var(--gray-900, #3b3a48);
}
