*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Card Component Base */
div.template-card {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:
    "Public Sans",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Noto Sans",
    sans-serif;
  color: #3b3a48;
  background-color: #fafafa;
  border: 1px solid #ededef;
  position: relative;
  line-height: 1.5;

  /* --- Options --- */

  &[data-card-corners="rounded"] {
    border-radius: 10px;
  }

  &[data-card-shadow="box-shadow"] {
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%);
  }

  &[data-card-interaction*="scale-on-hover"] {
    transition: all 0.3s ease 0s;

    &:hover {
      transform: scale3d(1.05, 1.05, 1.05);
    }
  }

  & [data-card-font-weight="400"] {
    font-weight: 400 !important;
  }

  & [data-card-font-weight="200"] {
    font-weight: 200 !important;
  }

  /* --- Regions --- */

  /* Card Image */
  > img {
    width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    aspect-ratio: 20 / 11;
  }

  /* Card Content */
  > div {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;

    @media (width >= 560px) {
      flex-direction: row;
      align-items: flex-start;
      gap: 1.5rem;
    }

    /* Card Icon */
    > div:first-child {
      width: 80px;
      height: 80px;
      margin-bottom: 1rem;
      margin-top: 0.5rem;

      > img {
        width: 100%;
        height: 100%;
        min-width: 80px;
        display: block;
      }
    }

    /* Card Info */
    > div:last-child {
      display: flex;
      flex-direction: column;

      /* Card Heading */
      > h2,
      & [data-card-h2] {
        font-size: calc(1.4375rem + 0.1vw);
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 1rem;
        padding-top: 0.5rem;
        line-height: 1.15;
        text-wrap: pretty;

        > a {
          font-weight: 600;
          color: #046b99;
          text-decoration: none;
          margin-bottom: 0.5rem;

          &:hover,
          &:focus {
            color: #034a6f;
          }
        }

        & a::before {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
      }

      /* Card Description */
      > p {
        font-size: calc(1.125rem + 0.1vw);
        margin-bottom: 1.5rem;
        margin-top: 0;
      }

      & ul {
        list-style-type: disc;
        margin-top: 0;
        margin-bottom: 1rem;
        padding-left: 2rem;
        font-size: 1.125rem;

        & li {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
