---
layout: null
permalink: "ca_state_template/css/cagov.core.min.css"
eleventyExcludeFromCollections: true
---

{%- set css -%}
  {% include "../../../src/css/cagov/_all.njk" %}
{%- endset -%}
{{- css | cssmin | safe -}}
