---
layout: null
permalink: "ca_state_template/css/cagov.core.flat.css"
eleventyExcludeFromCollections: true
---

{%- set css -%}
  {% include "../../../sample_site/_includes/cagov.core.all.njk" %}
{%- endset -%}
{{- css 
 | replace('@media (width <=', '@media (max-width:') 
  | replace('@media (width >=', '@media (min-width:') 
  | regexReplace('@media \\((\\d+px) <= width <= (\\d+px)\\)', '@media (min-width: $1) and (max-width: $2)')
  | flattenCSS 
  | safe 
-}}