---
layout: null
permalink: "ca_state_template/css/cagov.core.css"
eleventyExcludeFromCollections: true
---

{%- set css -%} 
  {% include "../../../sample_site/_includes/cagov.core.all.njk" %}
{%- endset -%} 
{{- css | safe -}}
