---
layout: null
permalink: "ca_state_template/css/colortheme-sacramento.min.css"
eleventyExcludeFromCollections: true
---

{%- set css -%} 
  {%- include "../../../src/css/colortheme/sacramento.css" -%} 
{%- endset -%} 
{{- css | cssmin | safe -}}
