---
layout: null
permalink: "ca_state_template/css/colortheme-ventura-night.css"
eleventyExcludeFromCollections: true
---

{%- set css -%}
  {%- include "../../../src/css/colortheme/ventura-night.css" -%}
{%- endset -%}
{{- css | safe -}}
