---
layout: null
permalink: "ca_state_template/css/colortheme-trinity.min.css"
eleventyExcludeFromCollections: true
---

{%- set css -%}
  {%- include "../../../src/css/colortheme/trinity.css" -%}
{%- endset -%}
{{- css | cssmin | safe -}}
