---
layout: null
permalink: "ca_state_template/css/colortheme-oceanside.min.css"
eleventyExcludeFromCollections: true
---

{%- set css -%}
  {%- include "../../../src/css/colortheme/oceanside.css" -%}
{%- endset -%}
{{- css | cssmin | safe -}}
