---
layout: null
permalink: "ca_state_template/css/colortheme-mono.css"
eleventyExcludeFromCollections: true
---

{%- set css -%}
  {%- include "../../../src/css/colortheme/mono.css" -%}
{%- endset -%}
{{- css | safe -}}
