---
layout: null
permalink: "ca_state_template/css/colortheme-santabarbara.css"
eleventyExcludeFromCollections: true
---

{%- set css -%}
  {%- include "../../../src/css/colortheme/santabarbara.css" -%}
{%- endset -%}
{{- css | safe -}}
