---
layout: null
permalink: "ca_state_template/css/colortheme-santacruz.css"
eleventyExcludeFromCollections: true
---

{%- set css -%}
  {%- include "../../../src/css/colortheme/santacruz.css" -%}
{%- endset -%}
{{- css | safe -}}
