---
layout: null
permalink: "ca_state_template/css/colortheme-sierra.min.css"
eleventyExcludeFromCollections: true
---

{%- set css -%}
  {%- include "../../../src/css/colortheme/sierra.css" -%}
{%- endset -%}
{{- css | cssmin | safe -}}
