---
layout: null
permalink: "ca_state_template/css/colortheme-pasorobles.css"
eleventyExcludeFromCollections: true
---

{%- set css -%}
  {%- include "../../../src/css/colortheme/pasorobles.css" -%}
{%- endset -%}
{{- css | safe -}}
