---
layout: null
permalink: "ca_state_template/css/colortheme-ukiah-night.min.css"
eleventyExcludeFromCollections: true
---

{%- set css -%}
  {%- include "../../../src/css/colortheme/ukiah-night.css" -%}
{%- endset -%}
{{- css | cssmin | safe -}}
