*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset.template-form-fieldset {
  border: none;
  padding: 0;
  margin: 0;

  > legend {
    box-sizing: border-box;
    font-family: var(
      --font-family-sans-serif,
      "Public Sans",
      system-ui,
      -apple-system,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      "Noto Sans",
      sans-serif
    );
    font-size: var(--font-size-h4, calc(1rem * 1.4375));
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: var(--font-weight-7, 700);
    line-height: var(--font-lineheight-4, 1.625);

    @media (width >= 576px) {
      font-size: calc(
        var(--font-size-h4, calc(1rem * 1.4375)) + var(--ratio-headers, 0.1vw)
      );
      margin-top: calc(2rem + var(--ratio-headers, 0.1vw));
      margin-bottom: calc(1rem + var(--ratio-headers, 0.1vw));
    }
  }
}

div.template-form-radio {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 1rem;
  position: relative;
  cursor: pointer;

  & input[type="radio"] {
    font-size: calc(1rem * 1.125);
    border-radius: 50%;
    float: left;
    margin-left: -1.5em;
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
    border: 1px solid var(--gray-300, #d2d2d6);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    appearance: none;
    cursor: pointer;

    &:focus {
      outline: 2px solid var(--outline-default-color, #0b8ee5);
      box-shadow: none;
      outline-offset: 2px;
    }

    &[data-border-dark="true"] {
      border-color: var(--gray-700, #5e5e6a);
    }
  }

  & input[type="radio"]:checked {
    background-color: var(--link-color, var(--color-p2, #046b99));
    border-color: var(--link-color, var(--color-p2, #046b99));
  }

  & label {
    box-sizing: border-box;
    margin-bottom: 0.5rem;
    font-family: var(
      --font-family-sans-serif,
      "Public Sans",
      system-ui,
      -apple-system,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      "Noto Sans",
      sans-serif
    );
    font-weight: 600;
    font-size: calc(1rem * 1.125);
    line-height: 1.5;
    color: var(--text-color, #3b3a48);
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
}
