---
permalink: /blank.html
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title | title }}</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

    {% include "../_includes/head-js-css.njk" -%}
  </head>
  <body>
    <h1>Blank page</h1>
    <p>
      All the template code is properly referenced, but no elements have been
      added here.
    </p>
  </body>
</html>
