---
layout: base.njk
permalink: /components-patterns.html
title: Components and patterns
---


<div id="main-content" class="main-content">
  <div class="bg-grey-lightest">
    <div class="container">
      <nav aria-label="You are here" class="breadcrumbs">
        <ol>
          <li>
            <a href="/index.html" title="Home page">Home</a>
          </li>
          <li>Components and patterns</li>
        </ol>
      </nav>
      <h1 class="m-t-0 p-b-lg">Components and patterns</h1>
    </div>
  </div>

  <div class="container p-t-md">
    <main class="main-primary" id="main">


      <p class="lead">
        This website contains most of the state template components and patterns. Here’s a directory of all items, with links to pages that contain that item. This allows designers, developers, and stakeholders review the item within context.
      </p>



      <div class="row">
        <div class="col-lg-6">
          <h3 class="m-t-0">Content</h3>
        </div>
        <div class="col-lg-6">
          <ul>
          <li>News</li>
          <li>Alert</li>
          <li>Banner</li>
          <li>Blockquote</li>
          <li>Executive profile</li>
          <li>Lists</li>
          <li>Modal</li>
          <li>Table</li>
          </ul>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="m-t-0">Layout and organization</h3>
        </div>
        <div class="col-lg-6">
          <ul>
            <li>Accordion</li>
            <li>Card grid</li>
            <li>Horizontal separator</li>
            <li>Parallax</li>
            <li>Tabs</li>
          </ul>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="m-t-0">Navigation</h3>
        </div>
        <div class="col-lg-6">
          <ul>
						<li>Breadcrumb</li>
						<li>Page navigation</li>
						<li>Pagination</li>
						<li>Side navigation</li>
          </ul>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="m-t-0">Page patterns</h3>
        </div>
        <div class="col-lg-6">
          <ul>
						<li>Newsroom</li>
						<li>List of articles</li>
						<li>Article</li>
						<li>Homepage</li>
						<li>Sitemap</li>
						<li>404 page</li>
						<li>About us landing page</li>
						<li>Careers</li>
						<li>Landing page (+ variations)</li>
						<li>Content directory</li>
						<li>Contact us</li>
          </ul>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="m-t-0">Selection and input</h3>
        </div>
        <div class="col-lg-6">
          <ul>
						<li>Button</li>
						<li>Card</li>
						<li>Form elements</li>
						<li>Social  media icons</li>
          </ul>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="m-t-0">Status</h3>
        </div>
        <div class="col-lg-6">
          <ul>
						<li>Countdown timer</li>
						<li>Number counter</li>
						<li>Progress bar</li>
						<li>Progress tracker</li>
          </ul>
        </div>
      </div>
      <hr>


    </main>
  </div>
</div>

