---
layout: base.njk
permalink: /components-patterns.html
title: Conponents and patterns
---


<div id="main-content" class="main-content">
  <div class="bg-grey-lightest">
    <div class="container">
      <nav aria-label="You are here" class="breadcrumbs">
        <ol>
          <li>
            <a href="/index.html" title="Home page">Home</a>
          </li>
          <li>
            <a href="/index.html" title="Home page">About</a>
          </li>
          <li>Conponents and patterns</li>
        </ol>
      </nav>
      <h1 class="m-t-0 p-b-lg">Conponents and patterns</h1>
    </div>
  </div>

  <div class="container p-t-md">
    <main class="main-primary" id="main">


      <p class="lead">
        This website contains most of the state template components and patterns. Here’s a directory of all items, with links to pages that contain that item. This allows designers, developers, and stakeholders review the item within context.
      </p>



      <div class="row">
        <div class="col-lg-6">
          <h3>Content</h3>
        </div>
        <div class="col-lg-6">
          <ul>
          <li>News</li>
          <li>Alert</li>
          <li>Banner</li>
          <li>Blockquote</li>
          <li>Executive profile</li>
          <li>Lists</li>
          <li>Modal</li>
          <li>Table</li>
          </ul>
        </div>

        <hr>

        <div class="col-lg-6">
          <h3></h3>
        </div>
        <div class="col-lg-6">

        </div>

      </div>


    </main>
  </div>
</div>

