---
title: California State Web Template
layout: home.njk
---

<div class="xsection-default">
  <div class="container p-a-md">
    <div class="row">
      <div class="bg-grey-lightest col-md-6 col-lg-4 p-y-md order-2 order-md-1">
        <h1 class="h3 m-t">Homepage title</h1>
        <p>
          Compelling sentence or two that ties the website to the department missions or goals
        </p>
        <p>
          Vestibulum laoreet faucibus ultrices,  vestibulum condimentum lectus in arcu.
        </p>
        <a
          href="https://github.com/Office-of-Digital-Services/California-State-Web-Template-Website/releases"
          class="btn btn-primary m-t-md m-b-lg"
          >Button</a
        >
      </div>
      <div
        class="col-lg-8 col-md-6 p-0 text-right order-1 order-md-2 d-flex justify-content-center">
        <a
          href="#"
          class="feature-img bg-grey-light"
          style=""
          aria-label="Feature card example image">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2>Top user tasks</h2>
  <div class="row">
    <div class="col-md-4 mb-4">
      <a href="javascript:;" class="link-grid">Short link 1</a>
    </div>
    <div class="col-md-4 mb-4">
      <a href="javascript:;" class="link-grid">Short link 2</a>
    </div>
    <div class="col-md-4 mb-4">
      <a href="javascript:;" class="link-grid">Short link 3</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mb-4">
      <a href="javascript:;" class="link-grid">Short link 1</a>
    </div>
    <div class="col-md-4 mb-4">
      <a href="javascript:;" class="link-grid">Short link 2</a>
    </div>
    <div class="col-md-4 mb-4">
      <a href="javascript:;" class="link-grid">Short link 3</a>
    </div>
  </div>
</div>

<div class="container row">
  <div class="col-md-6 m-b-md">
    <!-- Article -->
    <article class="bg-grey-lightest p-b-md brd-solid-1 brd-gray-light pos-rel rounded-4">
      <div class="p-a">
        <h3 class="h4 m-t-0 m-b-sm">
          <a class="u-link-v5 color-gray-dark color-primary-hover link-before no-underline" href="javascript:;">
            Marketing 1
          </a>
        </h3>
        <p>
          Use marketing spaces to promote items related to business goals. Limit to 2 or 3 and rotate as needed. This allows the homepage to remain simple and focused.
        </p>
      </div>
    </article>
    <!-- End Article -->
  </div>

  <div class="col-md-6 m-b-md">
    <!-- Article -->
    <article class="bg-grey-lightest p-b-md brd-solid-1 brd-gray-light pos-rel rounded-4">
      <div class="p-a">
        <h3 class="h4 m-t-0 m-b-sm">
          <a class="u-link-v5 color-gray-dark color-primary-hover link-before no-underline" href="javascript:;">
            Marketing 2
          </a>
        </h3>
        <p>
          Enter a concise description for this topic. You could include imagery with the marketing cards to make it more visually appealing.
        </p>
      </div>
    </article>
    <!-- End Article -->
  </div>
</div>
<!-- End News Block -->


<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card brd-solid-1 brd-gray-light rounded-4">
        <div class="card-body">
          <h2>News</h2>

          <hr class="m-y-md">
          <h3 class="lead font-weight-700">
            <a href="javascript:;" aria-disabled="true">
              Press release 1
            </a>
          </h3>
          <p>Month 00, 0000 | News</p>
          <hr class="m-y-md">
          <h3 class="lead font-weight-700">
            <a href="javascript:;" aria-disabled="true">
              Press release 2
            </a>
          </h3>
          <p>Month 00, 0000 | News</p>
          <hr class="m-y-md">
          <h3 class="lead font-weight-700">
            <a href="javascript:;" aria-disabled="true">
              News article 1
            </a>
          </h3>
          <p>Month 00, 0000 | News</p>
          <hr class="m-y-md">

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card brd-solid-1 brd-gray-light rounded-4">
        <h2>Heading</h2>
        <p>
          With better wayfinding and new side navigation, developing
          user-friendly websites is easier than ever.
        </p>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="container row">
  <div class="col-md-4 d-flex">
    <!--Executive profile figure-->
    <figure class="executive-profile bg-transparent">
      <img src="/images/sample-logo.png" alt="Image Description">
      <div class="executive-profile-body">
        <p>Official Title</p>
        <h3 class="executive-name">Name</h3>
        <p>Government agency</p>
        <p>
          <a href="javascript:;" aria-label="Link to Official's Website">
            Bio or contact info
          </a>
        </p>
      </div>
    </figure>
    <!-- End Figure -->
  </div>
  <div class="col-md-4 d-flex">
    <!--Executive profile figure-->
    <figure class="executive-profile bg-transparent">
      <img src="/images/sample-logo.png" alt="Image Description">
      <div class="executive-profile-body">
        <p>Official Title</p>
        <h3 class="executive-name">Name</h3>
        <p>Government agency</p>
        <p>
          <a href="javascript:;" aria-label="Link to Official's Website">
            Bio or contact info
          </a>
        </p>
      </div>
    </figure>
    <!-- End Figure -->
  </div>
  <div class="col-md-4 d-flex">
    <!--Executive profile figure-->
    <figure class="executive-profile bg-transparent">
      <img src="/images/sample-logo.png" alt="Image Description">
      <div class="executive-profile-body">
        <p>Official Title</p>
        <h3 class="executive-name">Name</h3>
        <p>Government agency</p>
        <p>
          <a href="javascript:;" aria-label="Link to Official's Website">
            Bio or contact info
          </a>
        </p>
      </div>
    </figure>
    <!-- End Figure -->
  </div>
</div>

