*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.template-accordion {
  background-color: white;
  font-family: var(
    --font-family-sans-serif,
    "Public Sans",
    system-ui,
    -apple-system,
    "Segoe UI",
    "Roboto",
    "Helvetica Neue",
    "Noto Sans",
    sans-serif
  );

  & summary {
    cursor: pointer;
    padding: 0.5rem 3rem 0.5rem 3.75rem;
    background-color: var(--gray-50, #fafafa);
    position: relative;
    line-height: 2rem;
    margin: 0;
    color: var(--gray-900, #3b3a48);
    font-size: var(
      --font-size-regular,
      calc(var(--font-size-base, 1rem) * 1.125)
    );
    font-weight: bold;
    list-style: none;
    border: 1px solid var(--gray-200, #d4d4d7);
    border-radius: 4px;
    transition:
      color 300ms ease-in-out,
      border-radius 300ms ease-in-out;

    &::-webkit-details-marker {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 2.75rem;
      border-right: 1px solid var(--gray-200, #d4d4d7);
      top: 0;
      left: 0;
      background-color: var(--gray-50, #fafafa);
      border-radius: 3px 0 0 3px;
      transition: background-color 300ms ease-in-out;
    }

    &::after {
      content: "";
      display: inline-block;
      text-decoration: none;
      position: absolute;
      width: 0.45rem;
      height: 0.45rem;
      border-top: 2px solid var(--gray-900, #3b3a48);
      border-left: 2px solid var(--gray-900, #3b3a48);
      left: 1rem;
      top: 50%;
      vertical-align: middle;
      transform-origin: center;
      transform: translateY(-50%) rotate(135deg);
      transition: transform 300ms ease-in-out;
    }

    &:hover,
    &:focus {
      color: var(--black, #000);
    }

    &:hover::before,
    &:focus::before {
      background-color: var(--gray-100, #f3f3f4);
    }

    &:hover::after,
    &:focus::after {
      border-top-color: var(--black, #000);
      border-left-color: var(--black, #000);
    }

    &:focus {
      outline: none;
      box-shadow: inset 0 0 0 2px var(--outline-default-color, #0b8ee5);
    }

    &:focus::before {
      box-shadow:
        inset 2px 0 0 0 var(--outline-default-color, #0b8ee5),
        inset 0 2px 0 0 var(--outline-default-color, #0b8ee5),
        inset 0 -2px 0 0 var(--outline-default-color, #0b8ee5);
    }

    &:focus-visible {
      outline: none;
      box-shadow: inset 0 0 0 2px var(--outline-default-color, #0b8ee5);
    }

    &:focus-visible::before {
      box-shadow:
        inset 2px 0 0 0 var(--outline-default-color, #0b8ee5),
        inset 0 2px 0 0 var(--outline-default-color, #0b8ee5),
        inset 0 -2px 0 0 var(--outline-default-color, #0b8ee5);
    }
  }

  & details {
    overflow: hidden;
    margin-top: 1rem;
    min-height: 3rem;
    transition: height 300ms ease-in-out;

    > div {
      padding: 1rem;
      font-family: var(
        --font-family-sans-serif,
        "Public Sans",
        system-ui,
        -apple-system,
        "Segoe UI",
        "Roboto",
        "Helvetica Neue",
        "Noto Sans",
        sans-serif
      );
      font-size: var(--font-size-base, 1rem);
      border: 1px solid var(--gray-200, #d4d4d7);
      border-top: 0;
      border-radius: 0 0 4px 4px;
    }

    &:is([open]:not(.is-closing), .is-opening) {
      > summary {
        border-radius: 4px 4px 0 0;
      }

      > summary::before {
        border-radius: 3px 0 0;
        background-color: var(--gray-100, #f3f3f4);
      }

      > summary::after {
        transform: translate(0.125rem, -50%) rotate(225deg);
      }
    }
  }
}
