/* -----------------------------------------
   ACCORDION SIDE NAVIGATION
   /source/scss/colortheme/cs-accordion-sidenav.scss
----------------------------------------- */

cagov-accordion.sidenav {
  details {
    summary {
      color: var(--gray-700, #5e5e6a);

      &:hover,
      &:focus {
        color: var(--black, #000);
      }

      &.active {
        color: var(--gray-700, #5e5e6a) !important;

        &:hover,
        &:focus {
          color: var(--black, #000) !important;
        }

        &::before {
          background-color: var(--color-p1, #fdb81e) !important;
        }
      }
    }
  }
}

.side-subnav {
  li {
    a {
      color: var(--gray-800, #4a4958);

      &:hover,
      &:focus {
        color: var(--black, #000);
      }

      &.active {
        &::before {
          border-left-color: var(--color-p1, #fdb81e);
        }
      }
    }
  }
}

// BOOTSTRAP VERSION
// active state
.side-nav {
  .accordion {
    .accordion__heading {
      .accordion__trigger {
        color: var(--gray-800, #4a4958);
      }

      // active
      &.active {
        .accordion__trigger {
          background-color: var(--color-p2, #046b99);

          &:hover,
          &:focus {
            background-color: var(--color-p2-darker, #214a68) !important;
          }
        }
      }
    }
  }
}

// understated
// active state
.side-nav.section-understated {
  .accordion {
    .accordion__heading {
      .accordion__trigger {
        color: var(--gray-800, #4a4958);
      }

      // active
      &.active {
        .accordion__trigger {
          background-color: var(--color-p2, #046b99) !important;

          &:hover,
          &:focus {
            background-color: var(--color-p2-darker, #214a68) !important;
          }
        }
      }
    }
  }
}

// standout
.side-nav.section-standout {
  .accordion {
    .accordion__heading {
      // active
      &.active {
        .accordion__trigger {
          color: var(--gray-800, #4a4958) !important;
          background-color: var(--gray-50, #fafafa) !important;

          &:hover,
          &:focus {
            color: var(--black, #000) !important;
            background-color: var(--gray-100, #f3f3f4) !important;
          }
        }
      }
    }
  }
}

// primary
.side-nav.section-primary {
  .accordion {
    .accordion__heading {
      // active
      &.active {
        .accordion__trigger {
          color: var(--gray-800, #4a4958) !important;
          background-color: var(--gray-50, #fafafa) !important;

          &:hover,
          &:focus {
            color: var(--black, #000) !important;
            background-color: var(--gray-100, #f3f3f4) !important;
          }
        }
      }
    }
  }
}
