/* -----------------------------------------
   ALERT
   /source/scss/colortheme/cs-alert.scss
----------------------------------------- */

.alert-banner {
  background-color: var(--color-p3, #323a45);
  color: var(--white, #ffffff);

  a:not(.btn),
  .close {
    color: var(--white, #ffffff);

    &:focus,
    &:hover {
      color: var(--color-p1, #fdb81e);
    }
  }
}

.alert-warning {
  color: $alert-warning-text;
  background-color: $alert-warning-bg;

  a:not(.btn),
  .close {
    color: $alert-warning-text;

    &:focus,
    &:hover {
      color: darken($alert-warning-text, 7%);
    }
  }
}

.alert-info {
  color: $alert-info-text;
  background-color: $alert-info-bg;

  a:not(.btn),
  .close {
    color: $alert-info-text;

    &:focus,
    &:hover {
      color: darken($alert-info-text, 14%);
    }
  }
}

.alert-danger {
  color: $alert-danger-text;
  background-color: $alert-danger-bg;

  a:not(.btn),
  .close {
    color: $alert-danger-text;

    &:focus,
    &:hover {
      color: darken($alert-danger-text, 14%);
    }
  }
}

.alert-success {
  color: $alert-success-text;
  background-color: $alert-success-bg;

  a:not(.btn),
  .close {
    color: $alert-success-text;

    &:focus,
    &:hover {
      color: darken($alert-success-text, 14%);
    }
  }
}

.alert-severe {
  color: var(--gray-800, #4a4958) !important;
  background-color: var(--color-p1, #fdb81e);

  a:not(.btn),
  .close {
    color: var(--gray-800, #4a4958) !important;

    &:focus,
    &:hover {
      color: var(--black, #000) !important;
    }
  }
}
