/* -----------------------------------------
   COMMENT
   /source/scss/colortheme/cs-blockquote.scss
----------------------------------------- */

blockquote {
  border-color: $color-p2;

  &::before {
    color: $color-p2;
  }

  &.prominent {
    background-color: $color-p2;
    color: var(--white, #ffffff);

    &::before {
      color: var(--white, #ffffff);
    }

    p,
    footer {
      color: var(--white, #ffffff);
    }
  }
}
