/* -----------------------------------------
   COMMENT
   /source/scss/colortheme/cs-blockquote.scss
----------------------------------------- */

blockquote {
  border-color: var(--color-p2, #046b99);

  &::before {
    color: var(--color-p2, #046b99);
  }

  &.prominent {
    background-color: var(--color-p2, #046b99);
    color: var(--white, #ffffff);

    &::before {
      color: var(--white, #ffffff);
    }

    p,
    footer {
      color: var(--white, #ffffff);
    }
  }
}
