/* -----------------------------------------
   COMMENT
   /source/scss/colortheme/cs-buttons.scss
----------------------------------------- */

// better-button = color; background; border, hover-color; hover-background; hover-border

.btn-primary {
  @include better-button(
    var(--white, #ffffff),
    var(--color-p2, #046b99),
    var(--color-p2, #046b99),
    var(--white, #ffffff),
    var(--color-p2-darker, #214a68),
    var(--color-p2-darker, #214a68)
  );

  &:disabled {
    color: var(--white, #ffffff) !important;
  }

  &.disabled {
    color: var(--white, #ffffff) !important;
  }
}

// better-button = color; background; border, hover-color; hover-background; hover-border
.btn-outline-primary {
  @include better-button(
    var(--color-p2, #046b99),
    var(--white, #ffffff),
    var(--color-p2, #046b99),
    var(--color-p2-darker, #214a68),
    var(--white, #ffffff),
    var(--color-p2-darker, #214a68)
  );
}

.btn-default {
  @include better-button(
    var(--gray-700, #5e5e6a),
    rgba(255, 255, 255, 0.65),
    var(--gray-700, #5e5e6a),
    var(--black, #000000),
    rgba(255, 255, 255, 1),
    var(--black, #000000)
  );
}

// beta 5.0 addition
.btn-standout {
  @include better-button(
    var(--white, #ffffff),
    var(--color-p3, #323a45),
    var(--color-p3, #323a45),
    var(--white, #ffffff),
    var(--color-p3-darker, #242830),
    var(--color-p3-darker, #242830)
  );

  &:disabled {
    color: var(--white, #ffffff) !important;
  }

  &.disabled {
    color: var(--white, #ffffff) !important;
  }
}

// better-button = color; background; border, hover-color; hover-background; hover-border
.btn-outline-standout {
  @include better-button(
    var(--color-p3, #323a45),
    var(--white, #ffffff),
    var(--color-p3, #323a45),
    var(--color-p3-darker, #242830),
    var(--white, #ffffff),
    var(--color-p3-darker, #242830)
  );
}

// beta 5.0 addition
.btn-highlight {
  @include better-button(
    var(--black, #000),
    var(--color-p1-light, #f2c45a),
    var(--color-p1-light, #f2c45a),
    var(--gray-900, #3b3a48),
    var(--color-p1-lighter, #f5ce73),
    var(--color-p1-lighter, #f5ce73)
  );
}

// better-button = color; background; border, hover-color; hover-background; hover-border
.btn-outline-highlight {
  @include better-button(
    var(--black, #000),
    transparent,
    var(--color-p1-light, #f2c45a),
    var(--gray-900, #3b3a48),
    var(--gray-50, #fafafa),
    var(--color-p1-lighter, #f5ce73)
  );
}

.btn-secondary {
  @include better-button(
    var(--gray-700, #5e5e6a),
    var(--gray-50, #fafafa),
    var(--gray-700, #5e5e6a),
    $link-hover-color,
    #fff,
    var(--black, #000000)
  );

  &.active {
    background: #fff;
    color: var(--black, #000);
  }

  &:disabled {
    color: var(--black, #000000);
  }

  &.disabled {
    color: var(--black, #000000);
  }
}

// better-button = color; background; border, hover-color; hover-background; hover-border
.btn-s1 {
  @include better-button(
    var(--gray-700, #5e5e6a),
    $color-s1,
    var(--gray-700, #5e5e6a),
    var(--black, #000),
    #fff,
    var(--black, #000000)
  );

  &.active {
    background: #fff;
    color: var(--black, #000);
  }

  &:disabled {
    color: var(--black, #000000);
  }
}

// better-button = color; background; border, hover-color; hover-background; hover-border
.btn-outline-secondary {
  @include better-button(
    var(--gray-700, #5e5e6a),
    var(--white, #ffffff),
    var(--gray-700, #5e5e6a),
    var(--gray-900, #3b3a48),
    var(--white, #ffffff),
    var(--gray-900, #3b3a48)
  );
}

// better-button = color; background; border, hover-color; hover-background; hover-border
.btn-light {
  @include better-button(
    var(--gray-700, #5e5e6a),
    var(--white, #ffffff),
    var(--white, #ffffff),
    var(--black, #000),
    var(--gray-100, #f3f3f4),
    var(--gray-100, #f3f3f4)
  );
}

.btn-outline-light {
  @include better-button(
    var(--white, #ffffff),
    transparent,
    var(--white, #ffffff),
    var(--gray-100, #f3f3f4),
    transparent,
    var(--gray-100, #f3f3f4)
  );
}

.check-icon-radio {
  color: var(--color-p2, #046b99);
  border-color: var(--color-p2, #046b99);
}

.check-icon-checkbox {
  border-color: var(--color-p2, #046b99);
}

input[type="checkbox"]:checked + i,
input[type="radio"]:checked + i,
input[type="checkbox"]:checked + * i,
input[type="radio"]:checked + * i {
  color: #fff;
  background-color: var(--color-p2, #046b99);
  border-color: var(--color-p2, #046b99);
}

.bg-primary--checked.checked,
.checked .bg-primary--checked {
  background-color: var(--color-p2, #046b99) !important;
}
