/* -----------------------------------------
   CARDS
   /source/scss/colortheme/cs-cards.scss
----------------------------------------- */

// MIXIN
@mixin card-variant($background, $border, $text-color) {
  background-color: $background;
  border-color: $border;
  color: $text-color;
}

// CARD STYLES
// --------------------------------------------------

.card-primary {
  @include link-variant(var(--white, #ffffff), var(--color-s1, #eef8fb));
  @include underline(var(--white, #ffffff), var(--color-s1, #eef8fb));
  @include card-variant(
    var(--color-p2, #046b99),
    var(--color-p2, #046b99),
    var(--white, #ffffff)
  );
}

.card-inverted,
.card-inverse {
  @include link-variant(
    var(--color-s3, #4993b5),
    var(--color-s3-dark, #507b97)
  );
  @include underline(var(--color-s3, #4993b5), var(--color-s3-dark, #507b97));
  @include card-variant(
    var(--gray-800, #4a4958),
    var(--gray-500, #898891),
    var(--white, #ffffff)
  );
}

.card-success {
  @include link-variant(var(--gray-900, #3b3a48), var(--black, #000000));
  @include underline(var(--gray-900, #3b3a48), var(--black, #000000));
  @include card-variant(
    var(--brand-success, #32852e),
    var(--brand-success, #32852e),
    var(--white, #ffffff)
  );
}

.card-info {
  @include link-variant(#fff, #fff);
  @include underline(#fff, #fff);
  @include card-variant(
    var(--brand-info, #1c7db5),
    var(--brand-info, #1c7db5),
    var(--white, #ffffff)
  );
}

.card-warning {
  @include link-variant(var(--gray-900, #3b3a48), var(--black, #000000));
  @include underline(var(--gray-900, #3b3a48), var(--black, #000000));
  @include card-variant(
    var(--brand-warning, #c2570f),
    var(--brand-warning, #c2570f),
    var(--white, #ffffff)
  );
}

.card-danger {
  @include link-variant(var(--black, #000000), var(--black, #000000));
  @include underline(var(--black, #000000), var(--black, #000000));
  @include card-variant(
    var(--brand-danger, #cd402d),
    var(--brand-danger, #cd402d),
    var(--white, #ffffff)
  );
}

// Inverse cards need a little extra love
// --------------------------------------------------

/* stylelint-disable-next-line no-duplicate-selectors */
.card-inverse,
.card-inverted {
  .card-header {
    border-bottom: $card-border-width solid rgb(255 255 255 / 20%);
  }

  .card-footer {
    border-top: $card-border-width solid rgb(255 255 255 / 20%);
  }
}

/* -----------------------------------------
   CARDS THAT USED TO BE PANELS IN BOOTSTRAP 3
   leaving .panel class for backward compatibility
----------------------------------------- */

/* Default Cards */
.panel-default,
.card-default {
  // border, heading-text-color, heading-bg-color, heading-border
  @include panel-variant(
    var(--gray-200, #d4d4d7),
    var(--gray-900, #3b3a48),
    var(--gray-75, #f3f3f4),
    var(--gray-200, #d4d4d7)
  );

  .panel-heading,
  .card-heading,
  .card-header {
    h2,
    h3,
    h4,
    h5 {
      span[class^="ca-gov-icon-"] {
        color: var(--color-p3, #323a45);
      }
    }
  }

  .panel-body,
  .card-body {
    background: var(--white, #fff);
    color: var(--gray-900, #3b3a48);
  }
}

/* Overstated Cards */
.panel-overstated,
.card-overstated {
  // border, heading-text-color, heading-bg-color, heading-border
  @include panel-variant(
    var(--gray-200, #d4d4d7),
    var(--white, #f5f5f5),
    var(--color-p2, #046b99),
    var(--color-p2, #046b99)
  );

  .panel-heading,
  .card-heading,
  .card-header {
    border-bottom-width: 5px;
    border-bottom-style: solid;

    h2,
    h3,
    h4,
    h5 {
      span[class^="ca-gov-icon-"] {
        color: var(--white, #fff);
      }
    }
  }

  .panel-body,
  .card-body {
    background: var(--white, #fff);
    color: var(--gray-900, #3b3a48);

    @include link-variant($link-color, $link-hover-color);
    @include underline($link-color, $link-hover-color);
  }
}

/* Uderstated Cards */
.panel-understated,
.card-understated {
  // border, heading-text-color, heading-bg-color, heading-border
  @include panel-variant(
    var(--gray-200, #d4d4d7),
    var(--gray-900, #3b3a48),
    var(--color-s1, #eef8fb),
    var(--color-s1, #eef8fb)
  );

  .panel-heading,
  .card-heading,
  .card-header {
    border-bottom-width: 2px;
    border-bottom-style: solid;

    h2,
    h3,
    h4,
    h5 {
      span[class^="ca-gov-icon-"] {
        color: var(--color-p3, #323a45);
      }
    }
  }

  .panel-body,
  .card-body {
    background: var(--white, #fff);
    color: var(--gray-900, #3b3a48);
  }
}

/* Standout Cards */
.panel-standout,
.card-standout {
  // border, heading-text-color, heading-bg-color, heading-border
  @include panel-variant(
    var(--gray-200, #d4d4d7),
    var(--white, #fff),
    var(--color-p3, #323a45),
    var(--color-p3, #323a45)
  );

  .panel-heading,
  .card-heading,
  .card-header {
    border-bottom-width: 5px;
    border-bottom-style: solid;

    h2,
    h3,
    h4,
    h5 {
      span[class^="ca-gov-icon-"] {
        color: var(--color-p1, #fdb81e);
      }
    }
  }

  .panel-body,
  .card-body {
    background: var(--white, #fff);
    color: var(--gray-900, #3b3a48);

    @include link-variant($link-color, $link-hover-color);
    @include underline($link-color, $link-hover-color);
  }
}

/* Adds triangle to card */
.panel-standout.highlight,
.card-standout.highlight {
  .panel-heading,
  .card-heading,
  .card-header {
    .triangle {
      @include triangle(down, 12px, var(--color-p3, #323a45));
    }
  }
}
