/* -----------------------------------------
   CARDS
   /source/scss/colortheme/cs-executive-profile.scss
----------------------------------------- */
.executive-profile {
  background-color: $color-s1;
}

.executive-profile.dark {
  .executive-profile-body {
    border-left-color: var(--white, #ffffff);
  }

  p,
  .executive-name,
  a {
    color: var(--white, #ffffff);
  }

  a:hover,
  a:focus {
    color: var(--color-p1, #fdb81e);
  }
}
