/* -----------------------------------------
   IMAGE HELPERS
   /source/scss/colortheme/cs-image.scss
----------------------------------------- */

@mixin image-thumbnail(
  $bg: $thumbnail-bg,
  $border: $thumbnail-border,
  $weight: $thumbnail-padding
) {
  .img-thumbnail {
    padding: $weight;
    background-color: $bg;
    border: 1px solid $border;
  }
}

.section,
.card {
  &-understated {
    @include image-thumbnail(var(--gray-50, #fafafa), var(--gray-200, #d4d4d7));
  }

  &-overstated {
    @include image-thumbnail(
      var(--color-s3-lighter, #bdd3e0),
      var(--color-s3-dark, #507b97)
    );
  }

  &-standout,
  &-impact {
    @include image-thumbnail(
      var(--color-p3-lighter, #71757c),
      var(--color-p3-darker, #242830)
    );
  }

  &-primary {
    @include image-thumbnail(
      var(--color-p2-lightest, #a4c3d4),
      var(--color-p2-darkest, #112a3c)
    );
  }

  &-inverted {
    @include image-thumbnail($thumbnail-bg, var(--gray-200, #d4d4d7));
  }

  &-danger {
    @include image-thumbnail($thumbnail-bg, var(--gray-200, #d4d4d7));
  }
}
