/* -----------------------------------------
   LINK GRID
   /source/scss/colortheme/cs-link-grid.scss
----------------------------------------- */

.link-grid {
  color: var(--color-p2, #046b99);
  border-bottom: 4px solid var(--color-p2, #046b99);

  &:hover,
  &:focus {
    color: var(--color-p2-darker, #214a68);
  }
}

.bg-primary .link-grid {
  border-color: var(--white, #ffffff);

  &:hover,
  &:focus {
    background-color: var(--color-p2-darker, #214a68);
  }
}
