/* -----------------------------------------
   PAGE NAVIGATION
   /source/scss/colortheme/cs-page-navigation.scss
----------------------------------------- */

.list-navigation,
.side-navigation ul {
  li {
    a {
      color: var(--gray-700, #5e5e6a);

      &:hover {
        color: var(--gray-900, #3b3a48);
      }

      &.active {
        &::before {
          border-left-color: $color-p1;
        }
      }
    }

    ul li a.active::before {
      border-left-color: $color-p1;
    }
  }
}

a.sidenav {
  color: var(--gray-700, #5e5e6a);

  &:hover {
    color: var(--gray-900, #3b3a48);
  }

  &.active {
    &::before {
      border-left-color: $color-p1;
    }
  }
}

/* side navigation */

.list-group-item {
  &.active {
    background-color: $color-p2;
    border-color: $color-p2;

    &:hover {
      background-color: darken($color-p2, 7%) !important;
      border-color: darken($color-p2, 7%);
    }
  }
}

.list-group.section-standout {
  .list-group-item,
  .list-group-item > button {
    background-color: $color-p3 !important;
    color: contrast($color-p3) !important;

    &:hover,
    &:focus,
    &.open {
      background: darken($color-p3, 7%) !important;
      color: contrast($color-p3) !important;
    }

    &.active {
      background-color: #fff !important;
      border-color: $color-p3;
      color: $color-p3 !important;

      &:hover,
      &:focus {
        background-color: #f8f9fa !important;
        border-color: $color-p3;
      }
    }
  }
}

.list-group.section-overstated {
  .list-group-item,
  .list-group-item > button {
    background: $color-p2 !important;
    color: contrast($color-p2) !important;

    &:hover,
    &:focus,
    &.open {
      background: darken($color-p2, 7%) !important;
      color: contrast($color-p2) !important;
    }

    &.active {
      background-color: #fff !important;
      border-color: $color-p2;
      color: $color-p2 !important;

      &:hover,
      &:focus {
        background-color: #f8f9fa !important;
        border-color: $color-p2;
      }
    }
  }
}

.list-group.section-impact {
  .list-group-item,
  .list-group-item > button {
    background: $color-p3 !important;
    color: contrast($color-p3) !important;

    &:hover,
    &:focus {
      background: darken($color-p3, 7%) !important;
      color: contrast($color-p3) !important;
    }

    &.active {
      background-color: #fff !important;
      border-color: $color-p3;
      color: $color-p3 !important;

      &:hover,
      &:focus {
        background-color: #f8f9fa !important;
        border-color: $color-p3;
      }
    }
  }
}

.list-group.section-primary {
  .list-group-item,
  .list-group-item > button {
    background: $color-p2 !important;
    color: contrast($color-p2) !important;

    &:hover,
    &:focus,
    &.open {
      background: darken($color-p2, 7%) !important;
      color: contrast($color-p2) !important;
    }

    &.active {
      background-color: #fff !important;
      border-color: $color-p2;
      color: $color-p2 !important;

      &:hover,
      &:focus {
        background-color: #f8f9fa !important;
        border-color: $color-p2;
      }
    }
  }
}

.list-group.section-inverted {
  .list-group-item,
  .list-group-item > button {
    background: var(--gray-900, #3b3a48) !important;
    color: #fff !important;

    &:hover,
    &:focus,
    &.open {
      background: var(--black, #000) !important;
      color: #fff !important;
    }

    &.active {
      background-color: #fff !important;
      border-color: $color-p3;
      color: $color-p3 !important;

      &:hover,
      &:focus {
        background-color: #f8f9fa !important;
        border-color: $color-p3;
      }
    }
  }
}

.list-group.section-danger {
  .list-group-item,
  .list-group-item > button {
    background: var(--brand-danger, #cd402d) !important;
    color:  #fff !important;

    &:hover,
    &:focus,
    &.open {
      background: var(--brand-danger-darker) !important;
      color: #fff !important;
    }

    &.active {
      background-color: #fff !important;
      border-color: var(--brand-danger, #cd402d)
      color: var(--brand-danger, #cd402d) !important;

      &:hover,
      &:focus {
        background-color: #f8f9fa !important;
        border-color: var(--brand-danger, #cd402d);
      }
    }
  }
}

.list-group.section-understated {
  .list-group-item,
  .list-group-item > button {
    background: $color-s1 !important;

    &:hover,
    &:focus,
    &.open {
      background: darken($color-s1, 7%) !important;
    }

    &.active {
      background-color: $color-p2 !important;
      border-color: $color-p2;
      color: var(--white, #ffffff) !important;

      &:hover,
      &:focus {
        background-color: darken($color-p2, 7%) !important;
        border-color: darken($color-p2, 7%) !important;
      }
    }
  }
}

.list-group.section-default {
  .list-group-item,
  .list-group-item > button {
    background: $gray-lightest !important;

    &:hover,
    &:focus,
    &.open {
      background: darken($gray-lightest, 7%) !important;
    }

    &.active {
      background-color: $color-p2 !important;
      border-color: $color-p2;
      color: var(--white, #ffffff) !important;

      &:hover,
      &:focus {
        background-color: darken($color-p2, 7%) !important;
        border-color: darken($color-p2, 7%) !important;
      }
    }
  }
}
