/* -----------------------------------------
   PAGE NAVIGATION
   /source/scss/colortheme/cs-page-navigation.scss
----------------------------------------- */

.list-navigation,
.side-navigation ul {
  li {
    a {
      color: var(--gray-700, #5e5e6a);

      &:hover {
        color: var(--gray-900, #3b3a48);
      }

      &.active {
        &::before {
          border-left-color:  var(--color-p1, #fdb81e);
        }
      }
    }

    ul li a.active::before {
      border-left-color:  var(--color-p1, #fdb81e);
    }
  }
}

a.sidenav {
  color: var(--gray-700, #5e5e6a);

  &:hover {
    color: var(--gray-900, #3b3a48);
  }

  &.active {
    &::before {
      border-left-color:  var(--color-p1, #fdb81e);
    }
  }
}

/* side navigation */

.list-group-item {
  &.active {
    background-color:   var(--color-p2, #046b99);
    border-color:   var(--color-p2, #046b99);

    &:hover {
      background-color:  var(--color-p2-darker, #214a68) !important;
      border-color:  var(--color-p2-darker, #214a68);
    }
  }
}

.list-group.section-standout {
  .list-group-item,
  .list-group-item > button {
    background-color:  var(--color-p3, #323a45) !important;
    color: var(--white, #fff) !important;

    &:hover,
    &:focus,
    &.open {
      background:  var(--color-p3-darker, #242830) !important;
      color: var(--white, #fff) !important;
    }

    &.active {
      background-color: #fff !important;
      border-color:  var(--color-p3, #323a45);
      color: var(--color-p3, #323a45) !important;

      &:hover,
      &:focus {
        background-color: #f8f9fa !important;
        border-color:  var(--color-p3, #323a45);
      }
    }
  }
}

.list-group.section-overstated {
  .list-group-item,
  .list-group-item > button {
    background:  var(--color-p2, #046b99) !important;
    color: var(--white, #fff) !important;

    &:hover,
    &:focus,
    &.open {
      background:  var(--color-p2-darker, #214a68) !important;
      color: var(--white, #fff) !important;
    }

    &.active {
      background-color: #fff !important;
      border-color:  var(--color-p2, #046b99);
      color:  var(--color-p2, #046b99) !important;

      &:hover,
      &:focus {
        background-color: #f8f9fa !important;
        border-color:  var(--color-p2, #046b99);
      }
    }
  }
}

.list-group.section-impact {
  .list-group-item,
  .list-group-item > button {
    background:  var(--color-p3, #323a45) !important;
    color: var(--white, #fff) !important;

    &:hover,
    &:focus {
      background:  var(--color-p3-darker, #242830) !important;
      color: var(--white, #fff) !important;
    }

    &.active {
      background-color: #fff !important;
      border-color:  var(--color-p3, #323a45);
      color:  var(--color-p3, #323a45) !important;

      &:hover,
      &:focus {
        background-color: #f8f9fa !important;
        border-color:  var(--color-p3, #323a45);
      }
    }
  }
}

.list-group.section-primary {
  .list-group-item,
  .list-group-item > button {
    background:  var(--color-p2, #046b99) !important;
    color: var(--white, #fff) !important;

    &:hover,
    &:focus,
    &.open {
      background:  var(--color-p2-darker, #214a68) !important;
      color: var(--white, #fff) !important;
    }

    &.active {
      background-color: #fff !important;
      border-color:  var(--color-p2, #046b99);
      color:  var(--color-p2, #046b99) !important;

      &:hover,
      &:focus {
        background-color: #f8f9fa !important;
        border-color:  var(--color-p2, #046b99);
      }
    }
  }
}

.list-group.section-inverted {
  .list-group-item,
  .list-group-item > button {
    background: var(--gray-900, #3b3a48) !important;
    color: #fff !important;

    &:hover,
    &:focus,
    &.open {
      background: var(--black, #000) !important;
      color: #fff !important;
    }

    &.active {
      background-color: #fff !important;
      border-color:  var(--color-p3, #323a45);
      color:  var(--color-p3, #323a45) !important;

      &:hover,
      &:focus {
        background-color: #f8f9fa !important;
        border-color:  var(--color-p3, #323a45);
      }
    }
  }
}

.list-group.section-danger {
  .list-group-item,
  .list-group-item > button {
    background: var(--brand-danger, #cd402d) !important;
    color:  #fff !important;

    &:hover,
    &:focus,
    &.open {
      background: var(--brand-danger-darker) !important;
      color: #fff !important;
    }

    &.active {
      background-color: #fff !important;
      border-color: var(--brand-danger, #cd402d)
      color: var(--brand-danger, #cd402d) !important;

      &:hover,
      &:focus {
        background-color: #f8f9fa !important;
        border-color: var(--brand-danger, #cd402d);
      }
    }
  }
}

.list-group.section-understated {
  .list-group-item,
  .list-group-item > button {
    background: $color-s1 !important;

    &:hover,
    &:focus,
    &.open {
      background: darken($color-s1, 7%) !important;
    }

    &.active {
      background-color:  var(--color-p2, #046b99) !important;
      border-color:  var(--color-p2, #046b99);
      color: var(--white, #ffffff) !important;

      &:hover,
      &:focus {
        background-color:  var(--color-p2-darker, #214a68) !important;
        border-color:  var(--color-p2-darker, #214a68) !important;
      }
    }
  }
}

.list-group.section-default {
  .list-group-item,
  .list-group-item > button {
    background: var(--gray-50, #fafafa) !important;

    &:hover,
    &:focus,
    &.open {
      background: var(--gray-100, #ededef) !important;
    }

    &.active {
      background-color:  var(--color-p2, #046b99) !important;
      border-color:  var(--color-p2, #046b99);
      color: var(--white, #ffffff) !important;

      &:hover,
      &:focus {
        background-color:  var(--color-p2-darker, #214a68) !important;
        border-color:  var(--color-p2-darker, #214a68) !important;
      }
    }
  }
}
