/* -----------------------------------------
   PANELS
   /source/scss/colortheme/cs-panels.scss
----------------------------------------- */

/* Default Panels */
.panel-default {
  // border, heading-text-color, heading-bg-color, heading-border
  @include panel-variant(
    var(--gray-200, #d4d4d7),
    var(--gray-900, #3b3a48),
    var(--gray-75, #f3f3f4),
    var(--gray-200, #d4d4d7)
  );

  .panel-heading {
    h2,
    h3,
    h4,
    h5 {
      span[class^="ca-gov-icon-"] {
        color: var(--color-p3, #323a45);
      }
    }
  }

  .panel-body {
    background: var(--white, #fff);
    color: var(--gray-900, #3b3a48);
  }
}

/* Overstated Panels */
.panel-overstated {
  // border, heading-text-color, heading-bg-color, heading-border
  @include panel-variant(
    var(--gray-200, #d4d4d7),
    var(--white, #f5f5f5),
    var(--color-p2, #046b99),
    var(--color-p2, #046b99)
  );

  .panel-heading {
    border-bottom-width: 5px;
    border-bottom-style: solid;

    h2,
    h3,
    h4,
    h5 {
      span[class^="ca-gov-icon-"] {
        color: var(--white, #fff);
      }
    }
  }

  .panel-body {
    background: var(--white, #fff);
    color: var(--gray-900, #3b3a48);
  }
}

/* Uderstated Panels */
.panel-understated {
  // border, heading-text-color, heading-bg-color, heading-border
  @include panel-variant(
    var(--gray-200, #d4d4d7),
    var(--gray-900, #3b3a48),
    var(--color-s1, #eef8fb),
    var(--color-s1, #eef8fb)
  );

  .panel-heading {
    border-bottom-width: 2px;
    border-bottom-style: dotted;

    h2,
    h3,
    h4,
    h5 {
      span[class^="ca-gov-icon-"] {
        color: var(--color-p3, #323a45);
      }
    }
  }

  .panel-body {
    background: var(--white, #fff);
    color: var(--gray-900, #3b3a48);
  }
}

/* Standout Panels */
.panel-standout {
  // border, heading-text-color, heading-bg-color, heading-border
  @include panel-variant(
    var(--gray-200, #d4d4d7),
    var(--white, #fff),
    var(--color-p3, #323a45),
    var(--color-p3, #323a45)
  );

  .panel-heading {
    border-bottom-width: 5px;
    border-bottom-style: solid;

    h2,
    h3,
    h4,
    h5 {
      span[class^="ca-gov-icon-"] {
        color: var(--color-p1, #fdb81e);
      }
    }
  }

  .panel-body {
    background: var(--white, #fff);
    color: var(--gray-900, #3b3a48);
  }
}

/* Adds triangle to panel */
.panel-standout.highlight {
  .panel-heading {
    .triangle {
      @include triangle(down, 12px, var(--color-p1, #fdb81e));
    }
  }
}
