/* -----------------------------------------
   BACK-TO-TOP / RETURN TOP
   /source/scss/colortheme/cs-return-top.scss
----------------------------------------- */

.return-top {
  border-color: var(--color-p2, #046b99);
  color: var(--color-p2, #046b99);

  &.is-visible {
    &:hover,
    &:focus {
      color: var(--color-p2-darker, #214a68);
      border-color: var(--color-p2-darker, #214a68);
    }
  }
}
