/* -----------------------------------------
   SITE HEADER
   /source/scss/colortheme/cs-site-header.scss
----------------------------------------- */

// MOBILE CONTROLS
// --------------------------------------------------

.toggle-menu span {
  background-color: var(--color-p2-darker, #214a68);
}

.mobile-controls {
  background: var(--white, #fff);
}

.mobile-control {
  color: var(--gray-600, #72717c);

  a {
    color: var(--gray-600, #72717c);
    text-decoration: none;
  }

  &.toggle-sub-nav {
    color: var(--color-p2, #046b99);
    background-color: color-mix(in srgb, var(--color-s1), #000 6%);

    &:hover,
    &:focus {
      outline: none;
      background-color: $sub-nav-bg; // should be the same as sub-nav background
    }
  }
}
