/* -----------------------------------------
   SEARCH
   /source/scss/colortheme/cs-search.scss
----------------------------------------- */

.search-container {
  .submit-container {
    button {
      color: $mobile-controls;
      border-color: $text-field-color;
    }
  }

  .search-textfield {
    border-color: var(--gray-600, #72717c) !important;

    @media (max-width: $screen-sm-max) {
      border-color: var(--white, #ffffff) !important;
    }
  }

  .gsc-search-button {
    background-color: var(--gray-600, #72717c);
    border-color: var(--gray-600, #72717c);

    &:hover,
    &:focus {
      background-color: var(--gray-800, #4a4958);
      border-color: var(--gray-800, #4a4958);
    }

    .ca-gov-icon-search {
      color: var(--white, #ffffff);
    }

    @media (max-width: $screen-sm-max) {
      background-color: var(--white, #ffffff);
      border-color: var(--white, #ffffff);

      .ca-gov-icon-search {
        color: var(--gray-700, #5e5e6a);
      }

      // border-left-color: var(--gray-700, #5e5e6a);
      &:hover,
      &:focus {
        background-color: var(--gray-50, #fafafa);
        border-color: var(--gray-50, #fafafa);

        .ca-gov-icon-search {
          color: var(--gray-900, #3b3a48);
        }
      }
    }
  }

  &:hover,
  &:focus,
  &.active {
    .search-textfield {
      background-color: #fff;
    }

    .submit-container button {
      border-color: #fff;
    }
  }

  &.active {
    background-color: var(--gray-100, #f3f3f4);

    .submit-container button {
      border-color: darken($gray-lighter, 10%);
      background: $gray;
    }
  }
}

.search-container .close-search,
.featured-search.active .container #Search .close-search-btn {
  .sr-only {
    color: $color-p2;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: darken($color-p2, 7%);
      text-decoration: none;
    }
  }
}
