/* -----------------------------------------
   ACCENT TEXT
   /source/scss/colortheme/cs-text-accent.scss
----------------------------------------- */

.text {
  &-accent1 {
    color: var(--color-a1, #1b79c0) !important;
  }

  &-accent2 {
    color: var(--color-a2, #077cbb) !important;
  }

  &-accent3 {
    color: var(--color-a3, #258378) !important;
  }

  &-accent4 {
    color: var(--color-a4, #32852e) !important;
  }

  &-accent5 {
    color: var(--color-a5, #815ab4) !important;
  }

  &-accent6 {
    color: var(--color-a6, #be37cd) !important;
  }

  &-accent7 {
    color: var(--color-a7, #c93e2c) !important;
  }

  &-accent8 {
    color: var(--color-a8, #bb520c) !important;
  }

  &-accent9 {
    color: var(--color-a9, #f7e455) !important;
  }

  // PRIMARY COLORS
  &-accent-p1 {
    color: var(--color-p1, #fdb81e) !important;
  }

  &-accent-p2 {
    color: var(--color-p2, #046b99) !important;
  }

  &-accent-p3 {
    color: var(--color-p3, #323a45) !important;
  }

  // SECONDARY COLORS
  &-accent-s1 {
    color: var(--color-s1, #eef8fb) !important;
  }

  &-accent-s2 {
    color: var(--color-s2, #87b8ce) !important;
  }

  &-accent-s3 {
    color: var(--color-s3, #4993b5) !important;
  }
}

.color-primary--hover:hover {
  color: var(--color-p2, #046b99);
}

.bg-primary--hover:hover {
  background-color: var(--color-p2, #046b99);
}

// badges
.label-primary {
  color: var(--black, #000);
  background-color: var(--gray-100, #f3f3f4);
  border-radius: 0;
}

.label-info {
  color: #fff;
  background-color: var(--color-p2, #046b99);
}

.label-secondary {
  color: var(--gray-900, #3b3a48);
  background-color: var(--color-s2, #87b8ce);
}

.label-light {
  color: var(--gray-900, #3b3a48);
  background-color: var(--color-s1, #eef8fb);
}

.label-dark {
  color: #fff;
  background-color: var(--color-p3, #323a45);
}

.label-warning {
  color: var(--gray-900, #3b3a48);
  background-color: var(--color-p1, #fdb81e);
}

.text-highlight-primary {
  background-color: var(--color-s1, #eef8fb);
}

.text-highlight-warning {
  background-color: var(--color-p1-lighter, #f5ce73);
}

.text-highlight-dark {
  color: #fff;
  background-color: var(--color-p3, #323a45);
}
