/* -----------------------------------------
   UTILITY HEADER
   /source/scss/colortheme/cs-utility.scss
----------------------------------------- */

.utility-header {
  background: $color-s1;
  color: var(--black, #000);

  a {
    color: var(--black, #000);

    &:hover,
    &:focus,
    &.hovered {
      color: var(--gray-800, #4a4958);
    }
  }

  .social-media-links {
    a {
      color: var(--black, #000);
      text-decoration: none;

      &:hover,
      &:focus {
        color: var(--gray-800, #4a4958);
      }
    }
  }

  button {
    color: var(--black, #000);

    &:hover,
    &:focus {
      color: var(--gray-800, #4a4958);
    }
  }

  ul {
    li {
      padding: 0 8px;
    }
  }
}
