/* -----------------------------------------
   UTILITY HEADER
   /source/scss/colortheme/cs-utility.scss
----------------------------------------- */

.utility-header {
  background: $color-s1;
  color: $black;

  a {
    color: $black;

    &:hover,
    &:focus,
    &.hovered {
      color: $gray-800;
    }
  }

  .social-media-links {
    a {
      color: $black;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $gray-800;
      }
    }
  }

  button {
    color: $black;

    &:hover,
    &:focus {
      color: $gray-800;
    }
  }

  ul {
    li {
      padding: 0 8px;
    }
  }
}
