*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Template Form Textarea Component */
label.template-form-select-label {
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  font-family: var(
    --font-family-sans-serif,
    "Public Sans",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Noto Sans",
    sans-serif
  );
  font-weight: 600;
  font-size: calc(1rem * 1.125);
  line-height: 1.5;
  color: var(--text-color, #3b3a48);
  position: relative;
  display: inline-block;
  cursor: default;
}

label.template-form-select-label[data-required="true"]::before {
  content: " *";
  color: var(--text-required-color, #cd402d);
}

select.template-form-select {
  box-sizing: border-box;
  width: 100%;
  font-family: var(
    --font-family-sans-serif,
    "Public Sans",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Noto Sans",
    sans-serif
  );
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='24' height='24' viewBox='0 0 24 24'><path d='M17.087 10.35l-4.337 4.336-4.337-4.336c-0.293-0.293-0.768-0.293-1.060 0s-0.293 0.768 0 1.060l4.864 4.864c0.147 0.147 0.341 0.221 0.533 0.219 0.194 0 0.386-0.072 0.533-0.219l4.865-4.864c0.293-0.293 0.293-0.768 0-1.060s-0.768-0.293-1.061 0z'/></svg>");
  appearance: none;
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: 20px 20px;
  background-position: right 0.75rem center;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  color: var(--text-color, #3b3a48);
  border-radius: 0.25rem;
  border: 1px solid var(--gray-300, #d2d2d6);

  &[data-border-dark="true"] {
    border-color: var(--gray-700, #5e5e6a);
  }

  &:focus {
    outline: 2px solid var(--outline-default-color, #0b8ee5);
    outline-offset: 2px;
    box-shadow: none;
  }
}
