{%- extends "./base.njk" -%} {%- block content -%}

<div id="main-content" class="main-content">
  <div class="container p-t-md">
    <h1>Sample for {{ title | title }}</h1>
    <main class="main-primary" id="main">{{ content | safe }}</main>
  </div>
</div>
{%- endblock -%}
