:root {
  --font-size-base: 1rem;
  --font-size-regular: calc(var(--font-size-base, 1rem) * 1.125);
  --font-size-large: calc(var(--font-size-base, 1rem) * 1.4375);
  --font-size-h1: calc(var(--font-size-base, 1rem) * 2.9375);
  --font-size-h2: calc(var(--font-size-base, 1rem) * 2.3175);
  --font-family-sans-serif:
    "Public Sans", system-ui, -apple-system, "Segoe UI", "Roboto",
    "Helvetica Neue", "Noto Sans", sans-serif;
  --gray-900: #3b3a48;
  --gray-700: #5e5e6a;
  --gray-500: #72717c;
  --gray-200: #d4d4d7;
  --gray-150: #e2e2e3;
  --gray-100: #ededef;
  --gray-75: #f8f9fa;
  --gray-50: #fafafa;
  --black: #000;
  --white: #fff;
  --color-p1: #fdb81e;
  --color-p1-lighter: #fed478;
  --color-p1-soft: #f2c45a;
  --color-p1-softer: #f5ce73;
  --color-p2: #046b99;
  --color-p2-darker: #035376;
  --color-p2-darkest: #01395e;
  --color-p2-light: #6db7d8;
  --color-p2-pale: #eef8fb;
  --color-p2-soft: #f5f9fa;
  --color-p2-muted: #87b8ce;
  --color-p3: #323a45;
  --color-p3-darker: #232930;
  --outline-default-color: #0b8ee5;
  --outline-dark-mode-color: #85cbf9;
  --ratio: 0.1vw;
  --shadow-strong: 0 2px 4px rgba(0 0 0 / 50%);
  --shadow-card: 0 3px 5px 0 rgb(0 0 0 / 10%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.cagov-utility-header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(
    --font-family-sans-serif,
    "Public Sans",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Noto Sans",
    sans-serif
  );
  color: var(--gray-900, #3b3a48);

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
  }

  /* Global utility styles */
  :focus {
    outline: 2px solid var(--outline-default-color, #0b8ee5);
  }

  & a {
    color: var(--color-p2, #046b99);

    &:hover,
    &:focus {
      color: var(--color-p2-darker, #035376);
    }
  }

  .cagov-sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }

  /* Utility Wrapper */
  > div {
    background-color: var(--color-p2-soft, #f5f9fa);
    min-height: 42px;
    padding: 0.25rem 0;

    /* Container */
    > div {
      width: 100%;
      padding-right: 12px;
      padding-left: 12px;
      margin-right: auto;
      margin-left: auto;

      @media (width >= 576px) {
        max-width: 540px;
      }
      @media (width >= 768px) {
        max-width: 720px;
      }
      @media (width >= 992px) {
        max-width: 960px;
      }
      @media (width >= 1200px) {
        max-width: 1176px;
      }

      /* Utility Bar */
      > div {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;



        /* CA.gov Logo */
        > div:first-of-type {
          display: inline-block;
          flex-grow: 1;
          flex-shrink: 0;
          align-self: center;

          > a > svg {
            vertical-align: middle;
            aspect-ratio: 9 / 5;
            display: inline-block;
            width: 50px;
          }
        }

        /* CA.gov Menu Button */
        > details:first-of-type {
          > summary {
            margin-left: auto;
            background: none;
            border: none;
            color: var(--gray-900, #3b3a48);
            font-size: 1rem;
            cursor: pointer;
            padding: 0.35rem 0.5rem;
            list-style: none;
            text-decoration: underline;
            display: inline-flex;
            align-items: center;
            position: relative;
            right: 0.5rem;
            min-height: 1.875rem;

            &:hover,
            &:focus {
              color: var(--black, #000);
            }

            &::-webkit-details-marker {
              display: none;
            }

            &::after {
              margin-left: 0.5rem;
              content: "";
              display: inline-block;
              text-decoration: none;
              position: relative;
              width: 0.4rem;
              height: 0.4rem;
              border-top: 1px solid var(--black, #000);
              border-left: 1px solid var(--black, #000);
              transform: rotate(225deg);
              transition: 200ms;
              vertical-align: middle;
            }
          }

          &[open] > summary::after {
            transform: rotate(45deg);
            top: 2px;
          }
        }

        /* Search Button */
        > details:last-of-type {
          > summary {
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            position: relative;
            min-height: 1.875rem;

            &:hover,
            &:focus {
              color: var(--black, #000);
            }

            &::-webkit-details-marker {
              /* for Safari */
              display: none;
            }

            /* Draws the "X" icon lines */
            &::before,
            &::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 3px;
              background: var(--gray-900, #3b3a48);
              border-radius: 2px;
              transition:
                transform 0.3s,
                opacity 0.3s;
              opacity: 0;
            }

            > svg {
              transition: transform 0.3s;
            }
          }

          &[open] > summary {
            > svg {
              transform: scale(0);
            }

            &::before,
            &::after {
              opacity: 1;
            }

            &::before {
              transform: rotate(45deg);
            }

            &::after {
              transform: rotate(-45deg);
            }
          }
        }

        /* Collapsible content styles */
        > div:nth-of-type(2),
        > div:last-of-type {
          background-color: var(--color-p2-soft, #f5f9fa);
          padding-top: 1rem;
          padding-bottom: 1rem;
          line-height: 1.5;
          width: 100%;
          order: 1;
        }

        /* Collapsible content toggles */
        > details:first-of-type,
        > details:last-of-type {
          + div {
            display: none;
          }

          &[open] + div {
            display: block;
          }
        }

        /* Navigation styles (CA.gov Menu Content) */
        > div:nth-of-type(2) > nav > ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          align-items: flex-end;
          justify-content: flex-end;
          padding: 0;
          position: relative;
          left: 0.35rem;

          > li > a {
            padding: 0.35rem;
          }

          @media (width >= 540px) {
            flex-direction: row;
            gap: 1.5rem;
          }
        }

        /* Search styles (Search Content) */
        > div:last-of-type > form {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          > input[type="search"] {
            font-size: 1.1rem;
            width: 100%;
            max-height: 38px;
            padding: 0 10px;
            transition: border 0.4s;
            border: 1px solid var(--gray-500, #72717c);
            border-radius: 5px 0 0 5px;
            height: 38px;
            outline-offset: -2px;
          }

          > button[type="submit"] {
            outline-offset: -4px;
            outline-color: var(--outline-dark-mode-color, #85cbf9);
            background-color: var(--gray-500, #72717c);
            color: var(--white, #fff);
            border-radius: 0 5px 5px 0;
            padding: 0 12px;
            border: 1px solid var(--gray-500, #72717c);
            min-height: 38px;
            margin-left: -1px;

            > svg {
              fill: var(--white, #fff);
            }
          }
        }
      }
    }
  }
}
