/* -----------------------------------------
  BLOCKQUOTE
  /src/css/cagov/blockquote.css
----------------------------------------- */

blockquote {
  font-size: var(--font-size-regular);
  padding: 11px 22px;
  margin: 0 0 22px;
  border-left: 4px solid;
  border-color: var(--color-p2, #046b99);

  @media (width >= 576px) {
    font-size: calc(var(--font-size-regular) + var(--ratio));
  }

  &::before {
    content: "\ea29";
    font-family: CaGov;
    font-size: 3rem;
    line-height: 2rem;
    color: var(--color-p2, #046b99);
  }

  footer {
    display: block;
    font-size: 80%;
    color: var(--blockquote-small-color);
    font-weight: var(--font-weight-7);
    margin-top: 1rem;

    &::before {
      content: "\2014 \00A0";
    }
  }

  &.no-quotation-mark {
    &::before {
      display: none;
    }
  }

  &.pull-quote,
  &.prominent {
    text-align: center;

    p,
    footer {
      text-align: left;
    }

    border-left: none;
  }

  &.prominent {
    border-radius: 1rem;
    padding: 2rem;
    background-color: var(--color-p2, #046b99);
    color: var(--white, #fff);

    p,
    footer,
    &::before {
      color: var(--white, #fff);
    }
  }

  &.blockquote-reverse {
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid var(--blockquote-border-color);
    border-left: 0;
    text-align: right;

    footer,
    small,
    .small {
      &::before {
        content: "";
      }

      &::after {
        content: "\00A0 \2014";
      }
    }
  }
}
