/* -----------------------------------------
   EXTERNAL LINKS
   /src/css/cagov/external-link.css
----------------------------------------- */

a.cagov-external-link {
  position: relative;

  &::after {
    content: "";
    display: inline-block;
    width: 0.9em;
    height: 0.9em;
    margin-left: 0.25em;

    /* Icon color follows the link text color */
    background-color: currentColor;
    vertical-align: middle;

    /* Image mask that will inherit the link color */
    mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M14 3h7v7h-2V6.41l-9.29 9.3-1.42-1.42 9.3-9.29H14V3zM5 5h5V3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-5h-2v5H5V5z'/></svg>");
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    mask-position: center;

    /* Mask: Safari (prefixed) + standard 
    Required for Safari 13.1
    */
    -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M14 3h7v7h-2V6.41l-9.29 9.3-1.42-1.42 9.3-9.29H14V3zM5 5h5V3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-5h-2v5H5V5z'/></svg>");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    -webkit-mask-position: center;
  }
}
