/* -----------------------------------------
   EXTERNAL LINKS
   /src/css/cagov/external-link.css
----------------------------------------- */

:root {
  --cagov-external-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M14 3h7v7h-2V6.41l-9.29 9.3-1.42-1.42 9.3-9.29H14V3zM5 5h5V3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-5h-2v5H5V5z'/%3E%3C/svg%3E");
}

a.cagov-external-link {
  position: relative;

  &::after {
    content: "";
    display: inline-block;
    width: 0.9em;
    height: 0.9em;
    margin-left: 0.25em;

    /* Icon color follows the link text color */
    background-color: currentColor;
    vertical-align: text-bottom;

    /* Safari 13.1 requires prefixed mask properties */
    -webkit-mask-image: var(--cagov-external-icon);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    -webkit-mask-position: center;

    /* Standard mask */
    mask-image: var(--cagov-external-icon);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    mask-position: center;
  }
}
