/* -----------------------------------------
   GLOBAL HEADER - /src/css/cagov/global-header.css
----------------------------------------- */

#skip-to-content {
  position: relative;
  left: 50% !important;
  transform: translateX(-50%);
  z-index: 999;

  & a {
    width: 1px;
    height: 1px;
    text-align: center;
    position: absolute !important;
    left: 50% !important;
    transform: translateX(-50%);
    clip: unset;
    background-color: white;
    border-radius: 0 0 7px 7px;
    overflow: hidden;

    &:focus {
      width: 160px;
      height: 27px;
    }
  }
}

.global-header {
  position: relative;
  z-index: 1;
  padding: 0;
  background: var(--white, #fff);
  width: auto;

  .section-default {
    background-color: var(--white, #fff);

    @media (width >= 992px) {
      border-bottom: 1px solid var(--gray-200, #d4d4d7);
    }

    &::after {
      content: "";
      border-bottom: 1px solid var(--gray-200, #d4d4d7);
      position: absolute;
      width: 100%;
      left: 0;

      @media (width >= 992px) {
        border-bottom: none;
      }
    }
  }

  @media (width >= 992px) {
    border-bottom: 1px solid var(--gray-200, #d4d4d7);

    .section-default {
      &::after {
        bottom: 55px;
        z-index: 99;
      }
    }

    .mobile-controls {
      display: none !important;
    }
  }
}
