/* -----------------------------------------
   GRADIENT BACKGROUNDS - /src/css/cagov/gradient-backgrounds.css
----------------------------------------- */

/* Linear Gradients
------------------------------------ */
.bg-gray-gradient {
  background-repeat: repeat-x;
  background-image: linear-gradient(180deg, #fff, #dbdbdb);
}

.bg-primary-gradient {
  background-repeat: repeat-x;
  background-image: linear-gradient(
    225deg,
    var(--color-p2, #046b99),
    var(--color-p2-darker, #214a68)
  );
}

.bg-highlight-gradient {
  background-repeat: repeat-x;
  background-image: linear-gradient(
    225deg,
    var(--color-p1, #fdb81e),
    var(--color-p1-lightest, #f9e3ac)
  );
}

.bg-standout-gradient {
  background-repeat: repeat-x;
  background-image: linear-gradient(
    225deg,
    var(--color-p3, #323a45),
    var(--color-p3-lighter, #71757c)
  );
}

.bg-secondary-gradient {
  background-repeat: repeat-x;
  background-image: linear-gradient(
    225deg,
    var(--color-s3, #4993b5),
    var(--color-s1, #eef8fb)
  );
}

.bg-secondary-light-gradient {
  background-repeat: repeat-x;
  background-image: linear-gradient(
    90deg,
    var(--color-s2, #87b8ce),
    var(--color-s1, #eef8fb)
  );
}

.bg-primary-standout-gradient {
  background-repeat: repeat-x;
  background-image: linear-gradient(
    225deg,
    var(--color-p2, #046b99),
    var(--color-p3, #323a45)
  );
}

.bg-primary-highlight-gradient {
  background-repeat: repeat-x;
  background-image: linear-gradient(
    225deg,
    var(--color-p2, #046b99),
    var(--color-p1, #fdb81e)
  );
}

.bg-primary-secondary-gradient {
  background-repeat: repeat-x;
  background-image: linear-gradient(
    180deg,
    var(--color-p2, #046b99),
    var(--color-s3, #4993b5)
  );
}

.bg-standout-highlight-gradient {
  background-repeat: repeat-x;
  background-image: linear-gradient(
    225deg,
    var(--color-p1, #fdb81e),
    var(--color-p3, #323a45)
  );
}

.bg-danger-warning-gradient {
  background-repeat: repeat-x;
  background-image: linear-gradient(
    225deg,
    var(--brand-warning, #c2570f),
    var(--brand-danger, #cd402d)
  );
}

.bg-info-success-gradient {
  background-repeat: repeat-x;
  background-image: linear-gradient(
    225deg,
    var(--brand-info, #1c7db5),
    var(--brand-success, #32852e)
  );
}

/* Radial Gradients */
.bg-gray-radialgradient,
.bg-grey-radialgradient {
  background-image: radial-gradient(
    ellipse farthest-corner at 50% 50%,
    #dbdbdb 22%,
    #bbb
  );
  background-repeat: no-repeat;
}

.bg-graylight-radialgradient,
.bg-greylight-radialgradient {
  background-image: radial-gradient(
    ellipse farthest-corner at 50% 50%,
    #fff 25%,
    #eee
  );
  background-repeat: no-repeat;
}

.bg-primary-radialgradient {
  background-image: radial-gradient(
    circle farthest-side at 50% 50%,
    var(--color-p2, #046b99),
    var(--color-p2-darker, #214a68)
  );
  background-repeat: no-repeat;
}

.bg-highlight-radialgradient {
  background-image: radial-gradient(
    circle farthest-side at 50% 50%,
    var(--color-p1-lightest, #f9e3ac),
    var(--color-p1, #fdb81e)
  );
  background-repeat: no-repeat;
}

.bg-standout-radialgradient {
  background-image: radial-gradient(
    circle farthest-corner at 75% 95%,
    var(--color-p3-lighter, #71757c),
    var(--color-p3, #323a45)
  );
  background-repeat: no-repeat;
}

.bg-secondary-radialgradient {
  background-image: radial-gradient(
    circle farthest-side at 50% 50%,
    var(--color-s1, #eef8fb),
    var(--color-s3, #4993b5)
  );
  background-repeat: no-repeat;
}

.bg-secondarylight-radialgradient {
  background-image: radial-gradient(
    ellipse farthest-corner at 50% 50%,
    #fff 22%,
    var(--color-s1, #eef8fb)
  );
  background-repeat: no-repeat;
}
