/* -----------------------------------------
   LINK GRID
   /src/css/cagov/link-grid.css
----------------------------------------- */

.link-grid {
  display: block;
  border: 1px solid var(--gray-200, #d4d4d7);
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1rem 2.25rem 1rem 1rem;
  position: relative;
  text-decoration: none !important;
  height: 100%;
  color: var(--color-p2, #046b99);
  border-bottom: 4px solid var(--color-p2, #046b99);

  &:hover,
  &:focus {
    background: var(--gray-100, #f3f3f4);
    color: var(--color-p2-darker, #214a68);
  }

  &:focus {
    outline: 2px solid var(--outline-default-color);
  }

  &::after {
    position: absolute;
    content: "";
    display: inline-block;
    text-decoration: none;
    width: 0.55rem;
    height: 0.55rem;
    border-top: 2px solid var(--color-p2, #046b99);
    border-left: 2px solid var(--color-p2, #046b99);
    vertical-align: middle;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
    right: 1.5rem;
    margin-left: 0.5rem;
  }
}

.link-before::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* dark mode */
.section-overstated,
.section-standout,
.section-impact,
.section-primary,
.section-inverted,
.bg-primary,
.bg-standout,
.bg-p2,
.bg-p3 {
  .link-grid {
    border-color: var(--white, #fff);

    &::after {
      border-top-color: var(--white, #fff);
      border-left-color: var(--white, #fff);
    }
  }
}

.bg-primary,
.bg-p2,
.section-primary,
.section-overstated {
  .link-grid {
    &:hover,
    &:focus {
      background-color: var(--color-p2-darker, #214a68);
    }
  }
}

.bg-standout,
.bg-p3,
.section-standout,
.section-impact,
.section-inverted {
  .link-grid {
    &:hover,
    &:focus {
      background-color: var(--color-p3-darker, #1f262e);
    }
  }
}
