/* -----------------------------------------
   MOBILE CONTROLS
   /src/css/cagov/nav-mobile-controls.css
----------------------------------------- */

header {
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100vh + 100px);
    background-color: rgb(0 0 0 / 48%);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.3s ease-in-out,
      visibility 0.3s ease-in-out;
  }
}

header.nav-overlay {
  &::after {
    opacity: 1;
    visibility: visible;
  }
}

.toggle-menu {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transform: rotate(0deg);
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  color: var(--white, #fff);
  min-width: 2.5rem;
  min-height: 1.75rem;
  margin: 0.4rem 0 0 auto;

  & span {
    height: 3px;
    width: 32px;
    display: block;
    position: absolute;
    border-radius: 5px;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    background-color: var(--color-p2, #046b99);

    &:nth-child(1) {
      top: 12px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 22px;
    }

    &:nth-child(4) {
      top: 32px;
    }
  }

  &[aria-expanded="true"] {
    & span:nth-child(1) {
      top: 12px;
      width: 0%;
    }

    & span:nth-child(2) {
      transform: rotate(45deg);
    }

    & span:nth-child(3) {
      transform: rotate(-45deg);
    }

    & span:nth-child(4) {
      top: 12px;
      width: 0%;
    }
  }
}

.nav-drawer {
  display: flex;
  padding: 0.5rem 1rem 1rem;

  .toggle-menu {
    margin-top: 0;
    width: 2.75rem;
    height: 2.75rem;

    &:focus {
      outline: 2px solid var(--outline-dark-mode-color);
    }

    /* stylelint-disable-next-line no-descending-specificity */
    span {
      background-color: var(--white, #fff);
      width: 30px;

      &:nth-child(2),
      &:nth-child(3) {
        top: 20px;
      }
    }

    background-color: transparent;
    border: none;

    &[aria-expanded="false"] {
      span {
        &:nth-child(1) {
          top: 15px;
        }

        &:nth-child(2),
        &:nth-child(3) {
          top: 25px;
        }

        &:nth-child(4) {
          top: 35px;
        }
      }
    }
  }

  @media (width >= 992px) {
    display: none;
  }
}

.mobile-controls {
  text-align: right;
  position: relative;
  color: var(--gray-600, #72717c);
  background: var(--white, #fff);
  top: 0;
  height: 0;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;

  .ca-gov-icon-menu-toggle-open,
  .ca-gov-icon-menu-toggle-closed {
    padding-left: 16px;
    padding-right: 16px;
    line-height: 2.75rem;
  }

  .toggle-search {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    margin-left: auto;
    margin-right: 1rem;
    text-align: center;
    z-index: 99;
    display: flex;
    flex-direction: column;

    span.ca-gov-icon-search {
      position: relative;
      font-size: 1.4rem;
      display: block;
      margin: 0 auto;
    }

    &:focus {
      outline: 2px solid var(--outline-default-color);
    }
  }

  a {
    color: var(--gray-600, #72717c);
    text-decoration: none;
  }

  &.toggle-sub-nav {
    color: var(--color-p2, #046b99);
    background-color: color-mix(in srgb, var(--color-s1), #000 6%);

    &:hover,
    &:focus {
      outline: none;
      background-color: var(--sub-nav-bg, #f1f8fb);
    }
  }
}

@media (width >= 576px) {
  .mobile-controls {
    max-width: var(--breakpoint-xm);
  }
}
@media (width >= 768px) {
  .mobile-controls {
    max-width: var(--breakpoint-sm);
  }
}
@media (width >= 992px) {
  .mobile-controls {
    max-width: var(--breakpoint-md);
  }
}
@media (width >= 1200px) {
  .mobile-controls {
    max-width: var(--breakpoint-lg);
  }
}

.navigation-search .settings-links {
  padding: 1rem;

  a {
    position: relative;
    color: var(--white, #fff);
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }

  a::before {
    content: "";
    color: var(--white, #fff);
    border: none;
    margin: 0 0.75rem;
    font-size: 1.125rem;
    font-weight: 200;
    position: absolute;
    border-left: 1px solid var(--gray-200, #d4d4d7);
    height: 70%;
    top: 5px;
    left: -1.95rem;
  }

  a:first-child::before {
    display: none;
  }
}

.main-navigation .mobile-controls {
  text-align: left;
  background-color: var(--body-bg, #fff);
}

.mobile-control {
  color: var(--gray-600, #72717c);

  &.toggle-sub-nav {
    position: absolute;
    top: 0;
    right: 2px;
    font-size: 1.5rem;
    width: 80px;
    text-align: center;
    cursor: pointer;
    padding-left: 7px;
    border: none;
    height: 100%;

    &:active {
      .rotate {
        position: absolute;
        top: 20px;
        left: 30px;
      }
    }
  }
}

.main-nav-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
  position: relative;
  top: -3.75rem;
  width: 20%;
  margin-left: auto;
}

/* mobile controls hack for IE because IE never dies */
@media all and (-ms-high-contrast: none) {
  .mobile-controls .toggle-search {
    position: absolute;
    right: 70px;
    top: 10px;
  }

  /* IE10 */
  *::-ms-backdrop,
  .mobile-controls .toggle-search {
    position: absolute;
    right: 70px;
    top: 10px;
  }

  /* IE11 */
}
