/* -----------------------------------------
   GLOBAL NAVIGATION - /src/css/cagov/navigation.css
----------------------------------------- */

.navigation-search {
  border: none;
  position: relative;
  padding: 0;
  z-index: 26;

  @media (width <= 991px) {
    position: fixed;
    top: 0;
    right: -100%;
    max-width: 85%;
    margin-right: 0;
    padding: 0;
    transition: right 0.5s ease-in-out;
    height: 100%;
    overflow-y: auto;
    background-color: var(--mobile-drawer, #214a68);

    &.visible {
      opacity: 1;
      right: 0;
    }
  }
}

.main-navigation {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
  margin-top: -82px;
  padding-left: 80px;
  display: flex;
}

@media (width >= 576px) {
  .main-navigation {
    max-width: var(--breakpoint-xm);
  }
}
@media (width >= 768px) {
  .main-navigation {
    max-width: var(--breakpoint-sm);
  }
}
@media (width >= 992px) {
  .main-navigation {
    max-width: var(--breakpoint-md);
  }
}
@media (width >= 1200px) {
  .main-navigation {
    max-width: var(--breakpoint-lg);
  }
}

@media (width <= 767px) {
  .main-navigation {
    max-width: 100%;
  }
}

.top-level-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all 0.3s;

  .nav-item {
    position: relative;
    font-size: var(--font-size-base, 1rem);

    @media (width >= 576px) {
      font-size: calc(var(--font-size-base, 1rem) + var(--ratio));
    }
  }
}

.nav-item,
.nav-item-search {
  &:hover,
  &:focus {
    @media (width >= 768px) {
      background-color: var(--sub-nav-bg, #f1f8fb);
    }

    > a,
    .first-level-btn,
    .first-level-link {
      color: var(--color-p2, #046b99);

      > span[class^="ca-gov-icon"] {
        color: var(--gray-900, #3b3a48);
      }
    }
  }

  &.active {
    > a,
    .first-level-btn,
    .first-level-link {
      color: var(--color-p2, #046b99);

      /* stylelint-disable-next-line no-descending-specificity */
      > span[class^="ca-gov-icon"] {
        color: var(--gray-900, #3b3a48);
      }
    }
  }

  .sub-nav.open {
    display: block;
    overflow: hidden;
    opacity: 1;
    max-height: 1000px !important;

    @media (width <= 991px) {
      max-height: 1000px;
      transition: max-height 0.5s ease-in-out;
    }
  }

  .sub-nav {
    display: block;
    opacity: 0;
  }

  .sub-nav-decoration {
    display: none;
  }
}

#navigation .nav-item .sub-nav {
  max-height: 0;
}

.second-level-nav {
  list-style: none;
  margin: 0;
  padding: 0;

  & a {
    text-decoration: none;

    &:focus {
      outline-offset: -2px;
    }
  }

  & [class^="unit"] {
    .second-level-link {
      display: block;
    }
  }
}

@media (width >= 992px) {
  .first-level-link,
  .first-level-btn {
    display: block;
    padding: 5px 16px 12px;
    position: relative;
    text-align: center;
    text-decoration: none;
    color: var(--color-p2, #046b99);

    &:hover,
    &:focus {
      color: var(--gray-900, #3b3a48);
    }

    &:focus {
      outline: 2px solid var(--outline-default-color);
      outline-offset: -2px;
    }

    > span[class^="ca-gov-icon"]:not(.carrot) {
      display: block;
      font-size: 32px;
      color: var(--gray-700, #5e5e6a);
    }

    .carrot {
      font-size: 1rem;
    }
  }

  .logo-nav {
    display: none;
  }
}

.full-width-nav {
  .nav-item {
    &:hover,
    &:focus {
      background-color: transparent;
    }

    .first-level-link,
    .first-level-btn {
      display: block;
      padding: 0.85rem 1rem 0.9rem;
      font-family: var(--headings-font-family);
      font-weight: 400;
      position: relative;
      text-align: left;
      z-index: 1;
      height: 100%;

      &:hover,
      &:focus {
        background-color: var(--gray-50, #fafafa);
      }

      &.active {
        background-color: var(--gray-50, #fafafa);
        position: relative;
        color: var(--black, #000);

        &:hover,
        &:focus {
          color: var(--gray-800, #4a4958);
          background-color: var(--gray-100, #f3f3f4);
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          border-left: 1px solid var(--gray-200, #d4d4d7);
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          border-left: 1px solid var(--gray-200, #d4d4d7);
        }
      }

      &.has-sub {
        padding-right: 2.3rem;
      }

      &:focus {
        outline: 2px solid var(--outline-default-color);
        outline-offset: -2px;
      }

      .carrot {
        font-size: 1.7rem;
        position: absolute;
        display: inline-block;
      }

      > span[class^="ca-gov-icon"]:not(.carrot) {
        @media (width >= 992px) {
          /* Navigation icons */
          display: inline;
          font-size: inherit;
          color: inherit;
        }
      }
    }

    &.active {
      .first-level-link,
      .first-level-btn {
        background-color: var(--gray-50, #fafafa);
        position: relative;
        color: var(--black, #000);

        &:hover,
        &:focus {
          color: var(--gray-800, #4a4958);
          background-color: var(--gray-100, #f3f3f4);
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          border-left: 1px solid var(--gray-200, #d4d4d7);
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          border-left: 1px solid var(--gray-200, #d4d4d7);
        }
      }
    }
  }
}

@media (width >= 992px) {
  .main-navigation {
    z-index: 25;
    min-height: 85px;
    padding-left: 350px;
  }

  .top-level-nav {
    table-layout: auto;
    display: flex;

    .nav-item {
      padding: 0;
      margin-top: 0;
      background: none;
      width: auto;
      display: table-cell;
      display: block;
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      flex: 1 1 auto;

      .noflex,
      .oldie {
        display: table-cell;
      }

      .sub-nav {
        top: 100%;
        border: solid 1px #ccc;
        box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
        background: var(--white, #fff);

        .second-level-nav {
          > li {
            border: none;

            &:hover,
            &:focus {
              background: #fff;
            }
          }

          .link-description {
            color: var(--gray-700, #5e5e6a);
          }
        }

        .second-level-link {
          color: var(--color-p2, #046b99);

          & [class^="ca-gov-icon-"] {
            color: var(--gray-700, #5e5e6a);
          }
        }
      }

      > a {
        text-align: center;
        text-decoration: none;
      }
    }

    & #nav-item-search button.first-level-link {
      background: none;
      text-align: center;
      border: none;
      padding: 5px 16px 12px;
      width: 100%;
    }

    .main-navigation.dropdown .nav-arrow-down {
      left: auto;
      margin-left: auto;
    }
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .nav-item {
    /* stylelint-disable-next-line no-descending-specificity */
    .sub-nav {
      position: absolute;
    }
  }

  /* sub-navigation panel open state */
  .main-navigation.dropdown .dropdown,
  .no-js .main-navigation.dropdown,
  .no-js .main-navigation.megadropdown {
    .nav-item:hover .sub-nav {
      display: block;

      .touch {
        display: none;
      }
    }
  }

  .no-icons {
    .top-level-nav {
      .nav-item {
        > a {
          min-height: 86px;
          padding-top: 2rem;
        }
      }
    }
  }

  .first-level-btn {
    text-align: center;
    border: none;
    background: none;
    width: 100%;
  }

  .home-link {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  /* FIXED */
  .fixed.compact {
    .no-icons {
      .top-level-nav {
        .nav-item {
          > a {
            padding-top: 12px;
          }
        }
      }
    }

    /* stylelint-disable-next-line no-descending-specificity */
    .top-level-nav {
      /* stylelint-disable-next-line no-descending-specificity */
      .nav-item {
        .first-level-link,
        .first-level-btn {
          .carrot {
            bottom: 0;
          }
        }
      }
    }

    .main-navigation {
      margin-top: -55px;
      min-height: 55px;
    }

    .first-level-link [class^="ca-gov-icon-"],
    .first-level-btn [class^="ca-gov-icon-"]:not(.carrot) {
      display: none;
    }
  }
}

/* MOBILE NAVIGATION */
@media (width <= 991px) {
  .logo-nav {
    display: block;
  }

  #navigation {
    clear: both;
    width: 100%;
    margin-top: 2rem;
  }

  .main-navigation {
    & #nav-item-search button.first-level-link {
      background: none;
      border: none;
      width: 99.5%;
      text-align: left;
      outline-offset: -2px;
    }
  }

  .full-width-nav {
    & #nav-item-search button.first-level-link {
      background: none;
      border: none;
      width: 99.5%;
      text-align: left;
    }
  }

  .mobile-closed {
    max-height: 0;
  }

  .subnav-closed {
    max-height: 0;
    overflow-y: hidden;
  }

  .top-level-nav .nav-item {
    &.active {
      .first-level-btn {
        background-color: var(--mobile-drawer-active, #046b99) !important;
        color: var(--white, #fff) !important;

        &:hover,
        &:focus {
          background-color: var(--mobile-drawer, #214a68) !important;
          color: var(--white, #fff) !important;
        }

        &::before,
        &::after {
          border-left: none !important;
        }
      }
    }

    & [aria-hidden="true"].sub-nav {
      max-height: 0;
    }

    margin-top: 0;
    border-bottom: 1px solid var(--gray-200, #d4d4d7);

    &:first-child {
      border-top: 1px solid var(--gray-200, #d4d4d7);
    }

    .first-level-link,
    .first-level-btn {
      color: var(--white, #fff);
      display: block;
      padding: 1rem 0 1rem 1rem;
      margin: 0 2px;
      text-decoration: none;

      & span[class^="ca-gov-icon"]:not(.carrot) {
        font-size: 1.5rem;
        display: inline-block;
        vertical-align: -2px;
      }

      &:focus {
        outline: 2px solid var(--outline-dark-mode-color);
        outline-offset: -4px;
      }

      &.active {
        background-color: var(--mobile-drawer-active, #046b99) !important;
        color: var(--white, #fff) !important;

        &:hover,
        &:focus {
          background-color: var(--mobile-drawer, #214a68) !important;
          color: var(--white, #fff) !important;
        }

        &::before,
        &::after {
          border-left: none !important;
        }
      }

      &:hover,
      &:focus {
        background-color: var(--mobile-drawer-active, #046b99) !important;
        color: var(--white, #fff) !important;
      }
    }

    .first-level-link.has-sub,
    .first-level-btn.has-sub {
      padding-right: 82px;
    }

    .sub-nav {
      display: block;
      transition: max-height 0.5s ease-in-out;
      border-left: none;
      border-right: none;
      border-top: none;
      border-bottom: none;

      .second-level-nav {
        > li {
          border: none;
          border-top: 1px solid var(--gray-200, #d4d4d7);

          &:hover,
          &:focus {
            background: color-mix(in srgb, var(--color-s1), #fff 6%);
          }
        }
      }

      .second-level-link {
        background-color: var(--mobile-drawer, #214a68);

        &:focus {
          outline: 2px solid var(--outline-dark-mode-color);
          outline-offset: -4px;
        }

        &.active {
          background-color: var(--mobile-drawer-active, #046b99);

          &:hover,
          &:focus {
            background-color: var(--mobile-drawer, #214a68);
          }
        }
      }
    }
  }

  .nav-item .sub-nav.secondary-open,
  .nav-item.focus .sub-nav {
    display: block;
  }

  .nav-item.focus:active .sub-nav,
  .nav-item.focus.clickedFocus .sub-nav {
    display: none;
  }

  .oc-outer {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

    &.scroll-menu-only.oc-menu-open {
      position: absolute;
      inset: 0;
      overflow: hidden;
    }
  }

  .header-decoration {
    display: none;
  }

  .nav-drawer + .search-container #Search .gsc-search-button {
    &:focus {
      outline: 2px solid var(--outline-default-color);
    }
  }
}

.nav-arrow-down {
  background: var(--color-p2, #046b99);
}

.main-navigation.dropdown .nav-arrow-down {
  width: 100%;
}

@media (width >= 1200px) {
  .main-navigation {
    padding-left: 350px;
  }
}

@media (width >= 992px) and (width < 1200px) {
  .main-navigation {
    padding-left: 250px;

    .top-level-nav {
      .nav-item {
        font-size: 1rem;
      }
    }
  }
}

@media (width >= 1280px) {
  .main-navigation {
    padding-left: 350px;
  }
}

.nav-item .toggle-sub-nav {
  &.closed .ca-gov-icon-menu-toggle-open,
  &.open .ca-gov-icon-menu-toggle-closed {
    display: none;
  }

  @media (width >= 992px) {
    display: none;
  }
}

/* FULL WIDTH MENU WITH REGULAR UTILITY BAR */
@media (width >= 992px) {
  .full-width-nav .main-navigation {
    padding-left: 0;
    margin-top: 0;
    min-height: 55px;

    &.dropdown {
      .second-level-nav {
        .unit1 {
          min-height: unset !important;

          & a.second-level-link:hover,
          & a.second-level-link:focus {
            background-color: var(--gray-50, #fafafa);
            text-decoration: none;
          }
        }
      }
    }

    .top-level-nav {
      .first-level-btn {
        &.has-sub {
          .carrot {
            position: absolute;
            right: 0.75rem;
            top: 0.35rem;
            transition: all 0.5s cubic-bezier(0.57, 0.2, 0.21, 0.89);
          }
        }

        &[aria-expanded="true"] {
          .carrot {
            transform: rotate(180deg);
            top: 0.6rem;
          }
        }
      }

      & #nav-item-search button.first-level-link {
        background: none;
        text-align: center;
        border: none;
        width: 100%;
      }
    }
  }

  .fixed.compact {
    .full-width-nav {
      .main-navigation {
        .nav-item {
          .first-level-link {
            padding-top: 17px;
          }

          .first-level-btn {
            padding-top: 10px;
          }

          & #nav-item-search button.first-level-link {
            padding-top: 17px;
            padding-bottom: 8px;
          }
        }

        margin-top: 0;

        /* stylelint-disable-next-line no-descending-specificity */
        & #nav-item-search button.first-level-link {
          padding-top: 9px;
          padding-bottom: 8px;
        }
      }
    }
  }
}

/* v6 Nav Button */
.first-level-btn > * {
  pointer-events: none;
}

/* Navigation button mobile */
@media (width <= 991px) {
  .top-level-nav {
    width: 100%;
  }

  .first-level-btn {
    border: none;
    background: none;
    width: 99.5%;
    text-align: left;

    &:focus {
      outline-offset: -2px;
    }
  }

  .first-level-btn .carrot {
    display: none !important;
  }

  /* Some weird bug in mobile */
  .no-js .megadropdown .top-level-nav .nav-item:hover .sub-nav,
  .megadropdown .top-level-nav .nav-item:hover .sub-nav {
    position: relative !important;
  }
}

@media (width <= 991px) {
  .nav-item .first-level-link.has-sub .carrot {
    display: none !important;
  }

  /* button carrot */
  .first-level-btn[aria-expanded="false"] .rotate {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem !important;
    line-height: 3.2rem !important;
    width: 55px !important;
    height: 55px !important;
    text-align: center;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease !important;
    color: var(--white, #fff) !important;
  }

  .first-level-btn[aria-expanded="true"] .rotate {
    transform: rotate(90deg) !important;
    position: absolute;
    width: 55px !important;
    height: 55px !important;
    line-height: 3rem !important;
    font-size: 1.5rem !important;
    top: 0;
    right: 0;
    text-align: center;
    transition: all 0.2s ease !important;
    color: var(--white, #fff) !important;
  }

  /* Side nav second level active styles */
  aside.mobile-sidenav .side-navigation ul.list-navigation li ul li a.active {
    color: var(--white);
  }
}

.nav-media {
  background: var(--sub-nav-media-bg);

  .media {
    &:hover {
      background: #fff;
    }

    border-bottom: 4px solid var(--white, #fff);

    @media (width <= 767px) {
      border-bottom: 4px solid var(--white, #fff);

      &:hover,
      &:focus {
        background: color-mix(in srgb, var(--color-s1), #fff 6%);
      }
    }
  }
}

.has-sub .rotate {
  color: var(--color-p2, #046b99);
}
