/* -----------------------------------------
   Number Counter
----------------------------------------- */
.number-counter {
  .no-js {
    visibility: visible;
  }
}

.stat-counter {
  text-align: center;
  font-size: 3rem;
  font-family: var(--headings-font-family);
}

.circles-text {
  font-size: 2.1875rem !important;
  font-family: var(--headings-font-family);
}

/* -----------------------------------------
   Countdown
----------------------------------------- */
.countdown div {
  text-align: center;
  font-size: 3rem;
  margin-top: 0;
  font-weight: 700;
  line-height: 1.1;
  border-left: 3px solid #fff;
}

.countdown-text {
  font-size: 1rem;
  font-weight: 400;
}
