/* -----------------------------------------
   PROFILE - /src/css/cagov/profiles.css
----------------------------------------- */

.executive-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  margin: 0;
  font-size: var(--font-size-base, 1rem);
  border: none;
  background-color: var(--color-s1, #eef8fb);

  & img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    margin-right: 1rem;
    position: relative;
  }

  .executive-profile-body {
    padding-left: 1rem;
    border-left: 1px solid var(--gray-900, #3b3a48);
  }

  & p,
  .executive-name {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .executive-name {
    font-size: var(--font-size-large);
  }

  &.dark {
    .executive-profile-body {
      border-left-color: var(--white, #fff);
    }

    p,
    .executive-name,
    a {
      color: var(--white, #fff);
    }

    a:hover,
    a:focus {
      color: var(--color-p1, #fdb81e);
    }
  }
}
