/* -----------------------------------------
   PROGRESS BAR - /src/css/cagov/progress-bar.css
----------------------------------------- */
.progress-pointer {
  position: absolute;
  bottom: 100%;
  right: 0;
  min-width: 46px;
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
  transform: translateX(50%);
  margin-bottom: 5px;
  background-color: transparent;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    margin-left: -5px;
    border-style: solid;
    border-color: var(--color-p2, #046b99) transparent;
    border-width: 5px 5px 0;
  }
}

/* Traditional Colors */

.progress-bar-default {
  background-color: var(--gray-100, #ededef);
}

.progress-striped .progress-bar-default {
  background-image: linear-gradient(
    45deg,
    rgba(255 255 255 / 15%) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255 255 255 / 15%) 50%,
    color(rgb 255 255 255 / 15%) 75%,
    transparent 75%,
    transparent
  );
}

.progress-bar-primary {
  background-color: var(--color-p2, #046b99);
}

.progress-striped .progress-bar-primary {
  background-image: linear-gradient(
    45deg,
    rgba(255 255 255 / 15%) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255 255 255 / 15%) 50%,
    rgba(255 255 255 / 15%) 75%,
    transparent 75%,
    transparent
  );
}

.progress-bar-understated {
  background-color: var(--color-s1, #eef8fb);
}

.progress-striped .progress-bar-understated {
  background-image: linear-gradient(
    45deg,
    rgba(255 255 255 / 15%) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255 255 255 / 15%) 50%,
    rgba(255 255 255 / 15%) 75%,
    transparent 75%,
    transparent
  );
}

.progress-bar-overstated {
  background-color: var(--color-s3, #4993b5);
}

.progress-striped .progress-bar-overstated {
  background-image: linear-gradient(
    45deg,
    rgba(255 255 255 / 15%) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255 255 255 / 15%) 50%,
    rgba(255 255 255 / 15%) 75%,
    transparent 75%,
    transparent
  );
}

.progress-bar-standout {
  background-color: var(--color-p3, #323a45);
}

.progress-striped .progress-bar-standout {
  background-image: linear-gradient(
    45deg,
    rgba(255 255 255 / 15%) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255 255 255 / 15%) 50%,
    rgba(255 255 255 / 15%) 75%,
    transparent 75%,
    transparent
  );
}

/* Accent Colors */
.progress-bar-accent1 {
  background-color: var(--color-a1, #1b79c0);
}

.progress-striped .progress-bar-accent1 {
  background-image: linear-gradient(
    45deg,
    rgba(255 255 255 / 15%) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255 255 255 / 15%) 50%,
    rgba(255 255 255 / 15%) 75%,
    transparent 75%,
    transparent
  );
}

.progress-bar-accent2 {
  background-color: var(--color-a2, #077cbb);
}

.progress-striped .progress-bar-accent2 {
  background-image: linear-gradient(
    45deg,
    rgba(255 255 255 / 15%) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255 255 255 / 15%) 50%,
    rgba(255 255 255 / 15%) 75%,
    transparent 75%,
    transparent
  );
}

.progress-bar-accent3 {
  background-color: var(--color-a3, #258378);
}

.progress-striped .progress-bar-accent3 {
  background-image: linear-gradient(
    45deg,
    rgba(255 255 255 / 15%) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255 255 255 / 15%) 50%,
    rgba(255 255 255 / 15%) 75%,
    transparent 75%,
    transparent
  );
}

.progress-bar-accent4 {
  background-color: var(--color-a4, #32852e);
}

.progress-striped .progress-bar-accent4 {
  background-image: linear-gradient(
    45deg,
    rgba(255 255 255 / 15%) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255 255 255 / 15%) 50%,
    rgba(255 255 255 / 15%) 75%,
    transparent 75%,
    transparent
  );
}

.progress-bar-accent5 {
  background-color: var(--color-a5, #815ab4);
}

.progress-striped .progress-bar-accent5 {
  background-image: linear-gradient(
    45deg,
    rgba(255 255 255 / 15%) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255 255 255 / 15%) 50%,
    rgba(255 255 255 / 15%) 75%,
    transparent 75%,
    transparent
  );
}

.progress-bar-accent6 {
  background-color: var(--color-a6, #be37cd);
}

.progress-striped .progress-bar-accent6 {
  background-image: linear-gradient(
    45deg,
    rgba(255 255 255 / 15%) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255 255 255 / 15%) 50%,
    rgba(255 255 255 / 15%) 75%,
    transparent 75%,
    transparent
  );
}

.progress-bar-accent7 {
  background-color: var(--color-a7, #c93e2c);
}

.progress-striped .progress-bar-accent7 {
  background-image: linear-gradient(
    45deg,
    rgba(255 255 255 / 15%) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255 255 255 / 15%) 50%,
    rgba(255 255 255 / 15%) 75%,
    transparent 75%,
    transparent
  );
}

.progress-bar-accent8 {
  background-color: var(--color-a8, #bb520c);
}

.progress-striped .progress-bar-accent8 {
  background-image: linear-gradient(
    45deg,
    rgba(255 255 255 / 15%) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255 255 255 / 15%) 50%,
    rgba(255 255 255 / 15%) 75%,
    transparent 75%,
    transparent
  );
}

.progress-bar-accent9 {
  background-color: var(--color-a9, #f7e455);
}

.progress-striped .progress-bar-accent9 {
  background-image: linear-gradient(
    45deg,
    rgba(255 255 255 / 15%) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255 255 255 / 15%) 50%,
    rgba(255 255 255 / 15%) 75%,
    transparent 75%,
    transparent
  );
}
