/* -----------------------------------------
   SITE SEARCH - /src/css/cagov/search.css
----------------------------------------- */

.search-container {
  overflow: hidden;
  z-index: 7;
  position: relative;
  display: block;
  top: 0;
  left: 0;
  padding: 0 15%;
  width: 100%;
  max-height: 0;
  border: none;

  @media (width >= 992px) {
    position: absolute;
    top: 96px;
  }

  #Search {
    display: flex;

    .gsc-search-button {
      right: 50px;
      background-color: var(--gray-600, #72717c);
      border-color: var(--gray-600, #72717c);
      color: var(--white, #fff);

      &:focus {
        outline: 2px solid var(--outline-dark-mode-color);
        outline-offset: -4px;
      }

      &:hover,
      &:focus {
        background-color: var(--gray-800, #4a4958);
        border-color: var(--gray-800, #4a4958);
      }

      .ca-gov-icon-search {
        color: var(--white, #fff);
      }

      @media (width <= 991px) {
        background-color: var(--white, #fff);
        border-color: var(--white, #fff);

        .ca-gov-icon-search {
          color: var(--gray-700, #5e5e6a);
        }

        &:hover,
        &:focus {
          background-color: var(--gray-50, #fafafa);
          border-color: var(--gray-50, #fafafa);

          .ca-gov-icon-search {
            color: var(--gray-900, #3b3a48);
          }
        }
      }
    }
  }

  .search-textfield {
    font-size: 1.1rem;
    width: 100%;
    max-height: 38px;
    padding: 0 10px;
    transition: border 0.4s;

    &::placeholder {
      color: var(--black, #000);
      opacity: 1;
    }

    &:focus {
      outline: 2px solid var(--outline-default-color);
      outline-offset: -2px;
    }
  }

  .submit-container {
    float: left;
    height: auto;
    height: 40px;
    transition: all 0.5s 0.1s;

    button {
      float: left;
      transition: all 0.5s 0.1s;
      background: none;
      color: var(--gray-600, #72717c);
      border-color: var(--text-field-color);
      border-width: 3px 3px 3px 0;
      border-style: solid;
      width: 40px + (2 * 3px);
      height: 100%;
      font-size: 1.5rem;
      line-height: 0.9375rem;
      padding: 0;

      > span {
        position: relative;
        top: 0;
        font-size: 1.87rem;
        line-height: 1.875rem;
      }

      @media (width <= 991px) {
        font-size: 2rem;
        line-height: 1em;
        padding-top: 0;
      }
    }
  }

  .textfield-container {
    float: left;
    width: 100%;
  }
}

input[type="search"].search-textfield {
  -webkit-appearance: none;
  background-color: canvas;
  border: 1px solid #72717c;
  border-radius: 5px 0 0 5px;
}

@media (width <= 991px) {
  input[type="search"].search-textfield {
    border-color: var(--white, #fff);

    &:focus {
      outline-offset: -4px;
    }
  }
}

#local_form {
  position: relative;
}

.cse .gsc-control-cse,
.gsc-control-cse {
  padding: 0 !important;
}

/* Large Search Animation and Styling */

@media (width >= 992px) {
  .featured-search {
    display: block;
    position: absolute;
    padding: 0;
    max-height: 100%;
    border-radius: 0;

    .search-textfield {
      border-color: var(--gray-600, #72717c) !important;
      font-size: 1.1rem;
      height: 38px;
    }

    .submit-container {
      height: 55px;
      width: 55px;
      transition: all 0.4s;

      button {
        transition: all 0.4s;
        font-size: 2.5rem;
        width: 60px;
        appearance: none;

        > span {
          font-size: 2.8125rem;
          line-height: 2.8125rem;
        }
      }
    }
  }
}

/* Resize search bar to look better on tablet size screens */
@media (768px <= width <= 992px) {
  .featured-search {
    left: 10%;
    width: 80%;
  }
}

.search-container.featured-search {
  @media (width <= 991px) {
    padding: 0 1rem;
    max-height: 100%;
  }

  &:hover,
  &:focus {
    background: none;
  }
}

@media (width >= 992px) {
  .fixed.compact .search-container {
    opacity: 0;
  }

  .active-search .fixed.compact .search-container {
    opacity: 1;
    top: 55px;
  }
}

button.gsc-search-button {
  border-radius: 0 5px 5px 0;
  padding: 0 12px;
  border: 1px solid;
  min-height: 38px;
  margin-left: -1px;
}

/* ------------- Custom search box (not google) -------------- */

.featured-search {
  & div.gsc-clear-button {
    width: 0;

    &::before {
      display: none;
    }
  }

  .textfield-container {
    padding-right: 60px;
    margin-right: -60px;
  }

  .container {
    padding: 0 !important;

    #Search {
      .gsc-search-button {
        outline-offset: -4px;
      }

      .close-search-btn {
        display: none;
      }
    }
  }
}

/* -----------------------------------------
GOOGLE CUSTOM SEARCH CUSTOMIZATION OVERRIDES 
/src/css/cagov/search.css
----------------------------------------- */

.gsc-control-searchbox-only {
  form.gsc-search-box {
    margin-bottom: 0;
  }

  table.gsc-search-box {
    margin-bottom: 0;

    td.gsc-input {
      padding-right: 0 !important;
      width: 100% !important;
    }
  }

  .gsc-input-box {
    border: none !important;
    background: transparent !important;
    height: 100%;
  }

  input.gsc-input {
    background-color: rgb(255 255 255 / 100%);
    border-radius: 0;
    border: 3px solid transparent;
    transition: border 0.4s;
    font-size: 1.1rem;
    height: 55px !important;
    padding: 14px !important;
    opacity: 1 !important;
    width: 100%;
    background-position-x: 7px !important;
  }

  input.gsc-search-button,
  button.gsc-search-button {
    opacity: 0;
    width: 55px;
    height: 51px;
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 55;
  }

  td.gsc-clear-button {
    width: 1px !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    position: relative;
  }

  td.gsc-search-button {
    width: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    position: relative;
  }

  div.gsc-clear-button {
    padding-left: 0 !important;
    background-image: none !important;
    margin-left: 0;
    margin-right: 0;
    width: 40px;
    display: block !important;

    &::before {
      content: "\4d";
      font-family: CaGov;
      font-size: 2rem;
      width: 100%;
      color: var(--gray-100, #ededef);
      display: block;
      margin-top: 12px;
      margin-left: 2px;
    }
  }
}

.search-icon {
  font-size: 2.4rem;
  width: 0;
  color: #666;
  display: block;
  position: relative;
  top: 0;
  right: 49px;
}

.search-results-header .gsc-control-searchbox-only {
  margin-bottom: 20px;

  td.gsc-clear-button {
    display: none;
  }
}

table.gsc-search-box table td div {
  padding: 0 !important;
}

.gsc-input-box-focus,
.gsc-input-box-hover {
  box-shadow: none !important;
  border: none !important;
}

table.gsc-search-box td {
  padding: 0 !important;
}

.gsc-search-box-tools .gsc-clear-button {
  display: block !important;
}

.gsc-input-box table td:nth-child(2),
.gsib_b {
  display: none !important;
}

/* Full Width navigation search */
@media (width >= 992px) {
  .full-width-nav .featured-search {
    top: -60px !important;
    right: 15px;
    left: unset !important;
    width: 32%;
  }

  .full-width-nav .featured-search input.search-textfield {
    padding: 0 8px;
  }
}

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
