/* -----------------------------------------
   SOCIAL SHARE WIDGET
   /src/css/cagov/socialsharer.scss
   SocialSharer module Version Dec 09, 2014
----------------------------------------- */

.socialsharer-container {
  float: left;

  a {
    line-height: 1em;
    font-size: 1.375rem;
    cursor: pointer;

    &:hover,
    &:focus {
      text-decoration: none !important;
    }
  }
}

/* Facebook */
.ca-gov-icon-share-facebook,
.socialsharer-container .ca-gov-icon-facebook {
  color: var(--share-facebook);

  &:hover,
  &:focus {
    color: color-mix(in srgb, var(--share-facebook), #000 15%);
  }
}

/* Twitter */
.ca-gov-icon-share-twitter,
.socialsharer-container .ca-gov-icon-twitter {
  color: var(--share-twitter);

  &:hover,
  &:focus {
    color: color-mix(in srgb, var(--share-twitter), #000 15%);
  }
}

/* snapchat */
.ca-gov-icon-share-snapchat {
  color: var(--share-snapchat);

  &:hover,
  &:focus {
    color: color-mix(in srgb, var(--share-snapchat), #000 15%);
  }
}

/* youtube */
.ca-gov-icon-share-youtube,
.socialsharer-container .ca-gov-icon-youtube {
  color: var(--share-youtube);

  &:hover,
  &:focus {
    color: color-mix(in srgb, var(--share-youtube), #000 15%);
  }
}

/* Flickr */
.ca-gov-icon-share-flickr {
  color: var(--share-flickr);

  &:hover,
  &:focus {
    color: color-mix(in srgb, var(--share-flickr), #000 15%);
  }
}

/* linkedin */
.ca-gov-icon-share-linkedin {
  color: var(--share-linkedin);

  &:hover,
  &:focus {
    color: color-mix(in srgb, var(--share-linkedin), #000 15%);
  }
}

/* instagram */
.ca-gov-icon-share-instagram,
.socialsharer-container .ca-gov-icon-instagram {
  color: var(--share-instagram);

  &:hover,
  &:focus {
    color: color-mix(in srgb, var(--share-instagram), #000 15%);
  }
}

/* pinterest */
.ca-gov-icon-share-pinterest {
  color: var(--share-pinterest);

  &:hover,
  &:focus {
    color: color-mix(in srgb, var(--share-pinterest), #000 15%);
  }
}

/* vimeo */
.ca-gov-icon-share-vimeo {
  color: var(--share-vimeo);

  &:hover,
  &:focus {
    color: color-mix(in srgb, var(--share-vimeo), #000 15%);
  }
}

/* Github */
.socialsharer-container .ca-gov-icon-github {
  color: var(--share-github);

  &:hover,
  &:focus {
    color: color-mix(in srgb, var(--share-github), #000 15%);
  }
}

/* Email */
.ca-gov-icon-share-email {
  color: var(--share-email);

  &:hover,
  &:focus {
    color: color-mix(in srgb, var(--share-email), #000 15%);
  }
}
