/* -----------------------------------------
   TABLES - /src/css/cagov/tables.css
----------------------------------------- */

/* Adding the explicit classes below so that they are available in Rich Text Editor */
.table > :not(caption) > * > * {
  color: var(--text-color, #3b3a48);
  border-color: var(--border-color-default, #d4d4d7);
}

table.table {
  border-spacing: 0;
}

.table {
  &.table-default {
    border: none;

    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          background: var(--default-bg, #fafafa);
          border: 2px solid var(--body-bg, #fff);
          color: var(--text-color, #3b3a48);
        }
      }
    }

    > thead > tr {
      > th,
      > td {
        background: var(--default-bg-darker, #d9d9d9);
        border: 2px solid var(--body-bg, #fff);
      }
    }
  }
}

.table-striped > tbody > tr:nth-of-type(2n + 1) > * {
  color: var(--text-color, #3b3a48);
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  background: var(--default-bg, #fafafa);
}
