<nav
  id="navigation"
  class="main-navigation dropdown"
  aria-label="Main navigation">
  <ul id="nav_list" class="top-level-nav">
    <li class="nav-item">
      <a class="first-level-link" href="/index.html">Home</a>
    </li>
    <li class="nav-item">
      <a class="first-level-link" href="/index.html">Components and patterns</a>
    </li>
    <li class="nav-item">
      <a
        class="first-level-link"
        href="{{(collections.all | allSamples)[0].url}}"
        >Samples</a
      >
    </li>
    <li class="nav-item">
      <a class="first-level-link" href="/index.html">Top task 1</a>
    </li>

    <li class="nav-item" role="presentation">
      <a href="/getting-started.html" class="first-level-link">Top task 2</a>
      <div class="sub-nav">
        <ul class="second-level-nav">
          <li class="unit1">
            <a href="/contact.html" class="second-level-link">Overview</a>
          </li>
          <li class="unit1">
            <a href="/about.html" class="second-level-link">Content 1</a>
          </li>
          <li class="unit1">
            <a href="/blank.html" class="second-level-link">Content 2</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
