<nav
  id="navigation"
  class="main-navigation dropdown"
  aria-label="Main navigation">
  <ul id="nav_list" class="top-level-nav">
    <li class="nav-item">
      <a class="first-level-link" href="/index.html">Home</a>
    </li>
    <li class="nav-item">
      <a
        class="first-level-link"
        href="{{(collections.all | allSamples)[0].url}}"
        >Samples</a
      >
    </li>
    <li class="nav-item">
      <a class="first-level-link" href="/contact.html">Contact Us</a>
    </li>
    <li class="nav-item">
      <a class="first-level-link" href="/about.html">About</a>
    </li>
  </ul>
</nav>
