<!-- BEGIN STATE_TEMPLATE -->

<!-- STATE_TEMPLATE *** Ending Javascript reference ***

Include core Javascript last
      
<script src="/ca_state_template/js/cagov.core.min.js"></script>

...or use the CDN...

<script src="{{ general.CdnPath }}js/cagov.core.min.js"></script>
-->

<script src="/ca_state_template/js/cagov.core.min.js"></script>

<!-- END STATE_TEMPLATE -->
