<!-- STATE_TEMPLATE Include core Javascript last
      
<script src="/js/cagov.core.min.js"></script>
      
END STATE_TEMPLATE -->

<!-- STATE_TEMPLATE: Start last Javascript reference -->
<script src="/ca_state_template/js/cagov.core.min.js"></script>
<!-- STATE_TEMPLATE: End last Javascript reference -->
