*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Page Header Component */
div.template-page-header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:
    "Public Sans",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Noto Sans",
    sans-serif;
  color: #3b3a48;
  background-color: #eef8fb;
  position: relative;

  /* --- Options --- */

  &[data-page-header-bg="understated"] {
    background-color: #eef8fb;
    color: #3b3a48;
  }

  &[data-page-header-bg="understated-gradient"] {
    background: linear-gradient(13deg, #eef8fb 0%, #6db7d8 100%);
    color: #3b3a48;
  }

  &[data-page-header-bg="primary"] {
    background-color: #046b99;
    color: #fff;
  }

  &[data-page-header-bg="primary-gradient"] {
    background: linear-gradient(13deg, #01395e 0%, #046b99 100%);
    color: #fff;
  }

  &[data-page-header-bg="standout"] {
    background-color: #323a45;
    color: #fff;
  }

  & [data-page-header-h2] {
    font-size: calc(2.3175rem + 0.1vw) !important;
  }

  & [data-page-header-font-weight="400"] {
    font-weight: 400 !important;
  }

  & [data-page-header-font-weight="200"] {
    font-weight: 200 !important;
  }

  /* --- Regions --- */

  /* Content Container */
  > div {
    padding: 3rem 12px;
    margin: 0 auto;
    position: relative;
    width: 100%;

    @media (width >= 576px) {
      max-width: 540px;
    }
    @media (width >= 768px) {
      max-width: 720px;
    }
    @media (width >= 992px) {
      max-width: 960px;
    }
    @media (width >= 1200px) {
      max-width: 1176px;
    }

    /* Heading/Title */
    > h1 {
      font-size: calc(2.9375rem + 0.1vw);
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 1rem;
      padding-top: 0.5rem;
      line-height: 1.15;
      text-wrap: pretty;
    }

    /* Description */
    > p {
      font-size: calc(1.5rem + 0.1vw);
      margin-bottom: 1.5rem;
      margin-top: 0;
    }
  }
}
