---
landing: Components
permalink: template-side-navigation.html
title: Components and patterns
---

<!-- This meta tag is for responsive design and ensures the page scales correctly on different devices. 
 Omit it if your site has a different method for handling responsive design. -->
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Side navigation component -->
<!-- START > div.template-side-navigation-wrapper -->
<div class="template-side-navigation-wrapper">
  <!-- START > details (Toggle Button) -->
  <details
    aria-label="Toggle side navigation"
    aria-expanded="false"
    aria-controls="template-side-navigation-content">
    <!-- START > summary (Toggle Button Text) -->
    <summary>
      <span data-role="side-navigation-toggle">Side navigation</span>
    </summary>
    <!-- END > summary (Toggle Button Text) -->
  </details>
  <!-- END > details (Toggle Button) -->

  <!-- START > div (Content Container) -->
  <div id="template-side-navigation-content">
    <!-- START > nav (Navigation) -->
    <nav aria-label="Side navigation" class="side-navigation">
      <!-- START > ul (Navigation List) -->
      <ul>
        <!-- START > li (Landing Page) -->
        <li>
          <a
            href="javascript:;"
            data-landing="true"
            data-active="true"
            aria-current="page"
            >Landing page</a
          >
        </li>
        <!-- END > li (Landing Page) -->

        <!-- START > li (Page Links) -->
        <li><a href="javascript:;">Page 1</a></li>
        <li><a href="javascript:;">Page 2</a></li>
        <li><a href="javascript:;">Page 3</a></li>
        <li><a href="javascript:;">Page 4</a></li>
        <li><a href="javascript:;">Page 5</a></li>
        <!-- END > li (Page Links) -->
      </ul>
      <!-- END > ul (Navigation List) -->
    </nav>
    <!-- END > nav (Navigation) -->
  </div>
  <!-- END > div (Content Container) -->
</div>
<!-- END > div.template-side-navigation-wrapper -->

<style>
  {% include "./template-side-navigation.html.css" %}
</style>
{% set script %} {% include "./template-side-navigation.html.js" %} {% endset %}
<script>
  {{ script | safe }}
</script>
