*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Template Form Textarea Component */
label.template-form-textarea-label {
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  font-family: var(
    --font-family-sans-serif,
    "Public Sans",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Noto Sans",
    sans-serif
  );
  font-weight: 600;
  font-size: calc(1rem * 1.125);
  line-height: 1.5;
  color: var(--text-color, #3b3a48);
  position: relative;
  display: inline-block;
  cursor: default;
}

label.template-form-textarea-label[data-required="true"]::before {
  content: " *";
  color: var(--text-required-color, #cd402d);
}

textarea.template-form-textarea-input {
  box-sizing: border-box;
  width: 100%;
  min-height: 150px;
  padding: 0.5rem 0.75rem;
  font-family: var(
    --font-family-sans-serif,
    "Public Sans",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Noto Sans",
    sans-serif
  );
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color, #3b3a48);
  background-color: var(--body-bg, #fff);
  background-clip: padding-box;
  border: 1px solid var(--gray-300, #d2d2d6);
  border-radius: none;
  display: block;
  resize: vertical;

  &[data-border-dark="true"] {
    border-color: var(--gray-700, #5e5e6a);
  }

  &:focus {
    outline: 2px solid var(--outline-default-color, #0b8ee5);
    outline-offset: 2px;
    box-shadow: none;
  }
}
